openapi: 3.0.3
info:
  title: VZW API Consumer Analytics API
  description: >-
    Provides usage analytics, error intelligence, anomaly detection, and quota exhaustion forecasts
    for Verizon partner API consumers. The API is designed for partner operations teams that need
    measurable adoption trends, service quality indicators, and proactive capacity planning insights
    across products, apps, and consumer organizations.
  version: 1.0.0
  contact:
    name: Verizon API Platform - Analytics Engineering
    email: api-platform-analytics@verizon.com
    url: https://developer.verizon.com
  license:
    name: Proprietary
    url: https://www.verizon.com/business/terms/
  x-catalog-id: vzw-api-consumer-analytics-api
  x-domain: analytics
servers:
  - url: https://vzw-api-consumer-analytics-api.api.verizon.com/v1
    description: Production
  - url: https://vzw-api-consumer-analytics-api.staging.api.verizon.com/v1
    description: Staging
security:
  - BearerAuth: []
tags:
  - name: Consumer Usage
    description: Consumer-level usage and latency analytics for partner API applications
  - name: Error Analysis
    description: Error trend analysis, categorization, and reliability indicators
  - name: Adoption
    description: Product adoption and consumer engagement metrics across partner channels
  - name: Anomaly Detection
    description: Statistical detection of usage or reliability anomalies in partner traffic
  - name: Forecasts
    description: Predictive analytics for quota exhaustion and capacity risk management
  - name: Reports
    description: Scheduled and ad-hoc report management for analytics exports and summaries
paths:
  /v1/consumers/{consumerId}/usage:
    get:
      operationId: getConsumerUsageAnalytics
      summary: Get usage analytics for a consumer
      description: >-
        Returns aggregated usage metrics for a specific API consumer over a requested time window.
        Supports hourly, daily, and weekly bucketing and includes percentile latency fields such as
        p50_latency_ms and p99_latency_ms, error_rate_pct, and active_app_count to help operations
        teams evaluate usage intensity and service quality over time.
      tags:
        - Consumer Usage
      parameters:
        - $ref: "#/components/parameters/ConsumerId"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
        - $ref: "#/components/parameters/Granularity"
        - $ref: "#/components/parameters/ProductIdFilter"
        - $ref: "#/components/parameters/IncludePercentiles"
      responses:
        "200":
          description: Consumer usage analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerUsageResponse"
              example:
                consumer_id: "con_8b6c1f3a"
                window_start: "2026-03-20T00:00:00Z"
                window_end: "2026-03-27T00:00:00Z"
                granularity: "DAY"
                summary:
                  total_request_count: 190245
                  total_error_count: 2291
                  error_rate_pct: 1.2
                  avg_latency_ms: 84.3
                  p50_latency_ms: 71.0
                  p95_latency_ms: 164.7
                  p99_latency_ms: 240.2
                  active_app_count: 11
                buckets:
                  - bucket_start: "2026-03-20T00:00:00Z"
                    bucket_end: "2026-03-21T00:00:00Z"
                    request_count: 27011
                    success_count: 26706
                    error_count: 305
                    error_rate_pct: 1.13
                    p50_latency_ms: 69.2
                    p99_latency_ms: 219.4
                    active_app_count: 9
                  - bucket_start: "2026-03-21T00:00:00Z"
                    bucket_end: "2026-03-22T00:00:00Z"
                    request_count: 26110
                    success_count: 25795
                    error_count: 315
                    error_rate_pct: 1.21
                    p50_latency_ms: 72.3
                    p99_latency_ms: 228.8
                    active_app_count: 10
                trace_id: "4126f1f2-6087-4b73-b026-37a2f8f02f82"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/consumers/{consumerId}/errors:
    get:
      operationId: getConsumerErrorAnalytics
      summary: Get error analytics for a consumer
      description: >-
        Returns categorized error metrics for an API consumer, including error rates by product,
        endpoint, and normalized error codes. This endpoint supports remediation workflows by
        exposing trending reliability degradation and top recurring failures.
      tags:
        - Error Analysis
      parameters:
        - $ref: "#/components/parameters/ConsumerId"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
        - $ref: "#/components/parameters/ProductIdFilter"
        - $ref: "#/components/parameters/ErrorCodeFilter"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Consumer error analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerErrorsResponse"
              example:
                consumer_id: "con_8b6c1f3a"
                window_start: "2026-03-20T00:00:00Z"
                window_end: "2026-03-27T00:00:00Z"
                total_request_count: 190245
                total_error_count: 2291
                error_rate_pct: 1.2
                top_errors:
                  - code: "UPSTREAM_TIMEOUT"
                    category: "UPSTREAM"
                    http_status: 504
                    count: 632
                    error_rate_pct: 0.33
                    impacted_endpoint_count: 4
                    trend_direction: "UP"
                  - code: "RATE_LIMIT_EXCEEDED"
                    category: "THROTTLING"
                    http_status: 429
                    count: 541
                    error_rate_pct: 0.28
                    impacted_endpoint_count: 6
                    trend_direction: "FLAT"
                endpoints:
                  - product_id: "prd_dispatch"
                    endpoint: "GET /v2/dispatch/tasks"
                    request_count: 82111
                    error_count: 1177
                    error_rate_pct: 1.43
                    p99_latency_ms: 304.1
                pagination:
                  next_cursor: "eyJvZmZzZXQiOjIwfQ=="
                  limit: 20
                trace_id: "f659e7ad-cf11-45c1-a980-24fe83b4f393"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/products/{productId}/adoption:
    get:
      operationId: getProductAdoptionMetrics
      summary: Get adoption metrics for a product
      description: >-
        Returns product adoption analytics across partner consumers and applications. Includes active
        consumer counts, integration depth, retention indicators, and request growth deltas that help
        partner success teams evaluate whether API product onboarding targets are being met.
      tags:
        - Adoption
      parameters:
        - $ref: "#/components/parameters/ProductIdPath"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
        - $ref: "#/components/parameters/Granularity"
      responses:
        "200":
          description: Product adoption metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductAdoptionResponse"
              example:
                product_id: "prd_dispatch"
                window_start: "2026-03-01T00:00:00Z"
                window_end: "2026-03-27T00:00:00Z"
                granularity: "WEEK"
                summary:
                  active_consumer_count: 143
                  new_consumer_count: 17
                  churned_consumer_count: 4
                  active_app_count: 526
                  adoption_rate_pct: 74.3
                  request_growth_pct: 12.6
                series:
                  - bucket_start: "2026-03-01T00:00:00Z"
                    bucket_end: "2026-03-08T00:00:00Z"
                    active_consumer_count: 131
                    active_app_count: 487
                    request_count: 852190
                    request_growth_pct: 5.9
                  - bucket_start: "2026-03-08T00:00:00Z"
                    bucket_end: "2026-03-15T00:00:00Z"
                    active_consumer_count: 136
                    active_app_count: 503
                    request_count: 914380
                    request_growth_pct: 7.3
                trace_id: "3236e0b6-b4db-4024-9728-fd8b9fcc0665"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/anomalies/detect:
    post:
      operationId: detectAnalyticsAnomalies
      summary: Detect anomalies in analytics signals
      description: >-
        Evaluates requested metric series using robust z-score and seasonal baseline analysis to
        identify anomalous points. Use this endpoint to detect sudden regressions in latency,
        spikes in error_rate_pct, or abnormal shifts in request volume before SLA violations occur.
      tags:
        - Anomaly Detection
      requestBody:
        required: true
        description: Anomaly detection request with metric series and sensitivity settings
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnomalyDetectionRequest"
            example:
              subject:
                scope: "CONSUMER"
                consumer_id: "con_8b6c1f3a"
                product_id: "prd_dispatch"
              metrics:
                - name: "error_rate_pct"
                  points:
                    - timestamp: "2026-03-26T10:00:00Z"
                      value: 1.1
                    - timestamp: "2026-03-26T11:00:00Z"
                      value: 1.3
                    - timestamp: "2026-03-26T12:00:00Z"
                      value: 4.8
                - name: "p99_latency_ms"
                  points:
                    - timestamp: "2026-03-26T10:00:00Z"
                      value: 212.4
                    - timestamp: "2026-03-26T11:00:00Z"
                      value: 219.8
                    - timestamp: "2026-03-26T12:00:00Z"
                      value: 398.1
              config:
                method: "ROBUST_Z_SCORE"
                z_score_threshold: 2.5
                min_baseline_points: 24
                include_context: true
      responses:
        "200":
          description: Anomaly detection completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnomalyDetectionResponse"
              example:
                subject:
                  scope: "CONSUMER"
                  consumer_id: "con_8b6c1f3a"
                  product_id: "prd_dispatch"
                method: "ROBUST_Z_SCORE"
                anomalies:
                  - metric: "error_rate_pct"
                    timestamp: "2026-03-26T12:00:00Z"
                    observed_value: 4.8
                    baseline_value: 1.2
                    z_score: 3.9
                    severity: "HIGH"
                    context:
                      request_count: 6421
                      p99_latency_ms: 398.1
                  - metric: "p99_latency_ms"
                    timestamp: "2026-03-26T12:00:00Z"
                    observed_value: 398.1
                    baseline_value: 225.7
                    z_score: 3.1
                    severity: "MEDIUM"
                trace_id: "24a7648d-7288-4b1f-b4de-8f3fb2efd36b"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/forecasts/quota-exhaustion:
    get:
      operationId: getQuotaExhaustionForecast
      summary: Forecast quota exhaustion risk
      description: >-
        Forecasts when configured API quotas are expected to be exhausted based on recent usage
        velocity and trend seasonality. Supports consumer- and product-level forecasting to help
        partner managers prioritize remediation before service disruption.
      tags:
        - Forecasts
      parameters:
        - $ref: "#/components/parameters/ConsumerIdOptional"
        - $ref: "#/components/parameters/ProductIdFilter"
        - $ref: "#/components/parameters/HorizonDays"
        - $ref: "#/components/parameters/ConfidenceLevel"
      responses:
        "200":
          description: Quota exhaustion forecast computed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaForecastResponse"
              example:
                generated_at: "2026-03-27T08:12:31Z"
                horizon_days: 30
                confidence_level: 0.95
                items:
                  - scope: "CONSUMER_PRODUCT"
                    consumer_id: "con_8b6c1f3a"
                    product_id: "prd_dispatch"
                    quota_limit: 500000
                    consumed_to_date: 451233
                    forecasted_consumption: 541909
                    quota_exhaustion_date: "2026-04-03"
                    exhaustion_probability_pct: 92.1
                    risk_level: "HIGH"
                  - scope: "PRODUCT"
                    product_id: "prd_edge-monitor"
                    quota_limit: 9000000
                    consumed_to_date: 6145000
                    forecasted_consumption: 8422000
                    quota_exhaustion_date: null
                    exhaustion_probability_pct: 11.6
                    risk_level: "LOW"
                trace_id: "5586812e-caa5-4588-b0f8-f1d8f0ef4b95"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/reports:
    get:
      operationId: listAnalyticsReports
      summary: List analytics reports
      description: >-
        Returns paginated report definitions and execution states. Reports may be ad-hoc snapshots
        or scheduled recurring exports. Use pagination fields and cursors to navigate large report
        inventories.
      tags:
        - Reports
      parameters:
        - $ref: "#/components/parameters/ReportType"
        - $ref: "#/components/parameters/ReportStatus"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated report list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportListResponse"
              example:
                data:
                  - report_id: "rpt_01JY7W1TKVWV3N3D8MN3"
                    name: "Weekly Partner Reliability Rollup"
                    type: "SCHEDULED"
                    format: "CSV"
                    status: "ACTIVE"
                    scope:
                      consumer_ids:
                        - "con_8b6c1f3a"
                      product_ids:
                        - "prd_dispatch"
                    created_at: "2026-03-01T09:10:00Z"
                    updated_at: "2026-03-21T11:15:00Z"
                    next_run_at: "2026-03-28T06:00:00Z"
                  - report_id: "rpt_01JY7W3M10D7WQSD2MF1"
                    name: "March Consumer Usage Snapshot"
                    type: "AD_HOC"
                    format: "JSON"
                    status: "COMPLETED"
                    scope:
                      consumer_ids:
                        - "con_8b6c1f3a"
                        - "con_920d31ab"
                      product_ids:
                        - "prd_dispatch"
                        - "prd_edge-monitor"
                    created_at: "2026-03-22T15:40:00Z"
                    updated_at: "2026-03-22T15:41:00Z"
                    next_run_at: null
                pagination:
                  page: 1
                  per_page: 20
                  total_items: 2
                  total_pages: 1
                trace_id: "e6e7cdaf-0f83-45fb-bf2c-a8cc57bc5138"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
    post:
      operationId: createAnalyticsReport
      summary: Create a new analytics report
      description: >-
        Creates a report definition for ad-hoc generation or recurring scheduled delivery.
        Reports can include usage, errors, adoption, anomaly, and quota forecast sections with
        scoped filters for selected consumers and products.
      tags:
        - Reports
      requestBody:
        required: true
        description: Report creation payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReportRequest"
            example:
              name: "Consumer Risk Weekly Digest"
              type: "SCHEDULED"
              format: "CSV"
              sections:
                - "USAGE"
                - "ERRORS"
                - "ANOMALIES"
                - "FORECASTS"
              scope:
                consumer_ids:
                  - "con_8b6c1f3a"
                  - "con_920d31ab"
                product_ids:
                  - "prd_dispatch"
              window:
                relative_days: 7
              schedule:
                cadence: "WEEKLY"
                timezone: "UTC"
                day_of_week: "MONDAY"
                hour_utc: 6
              delivery:
                channel: "EMAIL"
                recipients:
                  - "ops-partner-analytics@verizon.com"
      responses:
        "201":
          description: Report created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportResource"
              example:
                report_id: "rpt_01JY7XQJ2VNQ10CTC36R"
                name: "Consumer Risk Weekly Digest"
                type: "SCHEDULED"
                format: "CSV"
                status: "ACTIVE"
                sections:
                  - "USAGE"
                  - "ERRORS"
                  - "ANOMALIES"
                  - "FORECASTS"
                scope:
                  consumer_ids:
                    - "con_8b6c1f3a"
                    - "con_920d31ab"
                  product_ids:
                    - "prd_dispatch"
                window:
                  relative_days: 7
                schedule:
                  cadence: "WEEKLY"
                  timezone: "UTC"
                  day_of_week: "MONDAY"
                  hour_utc: 6
                delivery:
                  channel: "EMAIL"
                  recipients:
                    - "ops-partner-analytics@verizon.com"
                created_at: "2026-03-27T12:06:00Z"
                updated_at: "2026-03-27T12:06:00Z"
                next_run_at: "2026-03-31T06:00:00Z"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "409":
          $ref: "#/components/responses/409"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
components:
  schemas:
    ConsumerUsageResponse:
      type: object
      description: Usage analytics response for a single consumer
      properties:
        consumer_id:
          type: string
          description: Unique API consumer identifier
          example: "con_8b6c1f3a"
        window_start:
          type: string
          format: date-time
          description: Inclusive analysis window start time
          example: "2026-03-20T00:00:00Z"
        window_end:
          type: string
          format: date-time
          description: Exclusive analysis window end time
          example: "2026-03-27T00:00:00Z"
        granularity:
          $ref: "#/components/schemas/TimeGranularity"
        summary:
          $ref: "#/components/schemas/UsageSummary"
        buckets:
          type: array
          description: Time bucket usage metrics
          items:
            $ref: "#/components/schemas/UsageBucket"
        trace_id:
          type: string
          format: uuid
          description: Distributed trace identifier
          example: "4126f1f2-6087-4b73-b026-37a2f8f02f82"
      required:
        - consumer_id
        - window_start
        - window_end
        - granularity
        - summary
        - buckets
    UsageSummary:
      type: object
      description: Aggregate usage metrics for the requested window
      properties:
        total_request_count:
          type: integer
          format: int64
          description: Total number of API requests
          example: 190245
        total_error_count:
          type: integer
          format: int64
          description: Total number of failed API requests
          example: 2291
        error_rate_pct:
          type: number
          format: double
          description: Percentage of requests resulting in errors
          example: 1.2
        avg_latency_ms:
          type: number
          format: double
          description: Mean response latency in milliseconds
          example: 84.3
        p50_latency_ms:
          type: number
          format: double
          description: 50th percentile response latency in milliseconds
          example: 71.0
        p95_latency_ms:
          type: number
          format: double
          description: 95th percentile response latency in milliseconds
          example: 164.7
        p99_latency_ms:
          type: number
          format: double
          description: 99th percentile response latency in milliseconds
          example: 240.2
        active_app_count:
          type: integer
          description: Number of active apps issuing requests
          example: 11
      required:
        - total_request_count
        - total_error_count
        - error_rate_pct
        - p50_latency_ms
        - p99_latency_ms
        - active_app_count
    UsageBucket:
      type: object
      description: Time-bucketed usage metrics
      properties:
        bucket_start:
          type: string
          format: date-time
          description: Inclusive start timestamp for the bucket
          example: "2026-03-20T00:00:00Z"
        bucket_end:
          type: string
          format: date-time
          description: Exclusive end timestamp for the bucket
          example: "2026-03-21T00:00:00Z"
        request_count:
          type: integer
          format: int64
          description: Total requests in the bucket
          example: 27011
        success_count:
          type: integer
          format: int64
          description: Successful requests in the bucket
          example: 26706
        error_count:
          type: integer
          format: int64
          description: Failed requests in the bucket
          example: 305
        error_rate_pct:
          type: number
          format: double
          description: Error percentage for the bucket
          example: 1.13
        p50_latency_ms:
          type: number
          format: double
          description: 50th percentile latency for the bucket
          example: 69.2
        p99_latency_ms:
          type: number
          format: double
          description: 99th percentile latency for the bucket
          example: 219.4
        active_app_count:
          type: integer
          description: Number of active apps in the bucket
          example: 9
      required:
        - bucket_start
        - bucket_end
        - request_count
        - error_count
        - error_rate_pct
        - p50_latency_ms
        - p99_latency_ms
        - active_app_count
    ConsumerErrorsResponse:
      type: object
      description: Error analytics response scoped to a consumer
      properties:
        consumer_id:
          type: string
          description: Unique API consumer identifier
          example: "con_8b6c1f3a"
        window_start:
          type: string
          format: date-time
          example: "2026-03-20T00:00:00Z"
        window_end:
          type: string
          format: date-time
          example: "2026-03-27T00:00:00Z"
        total_request_count:
          type: integer
          format: int64
          example: 190245
        total_error_count:
          type: integer
          format: int64
          example: 2291
        error_rate_pct:
          type: number
          format: double
          example: 1.2
        top_errors:
          type: array
          items:
            $ref: "#/components/schemas/ErrorBreakdown"
        endpoints:
          type: array
          items:
            $ref: "#/components/schemas/EndpointErrorMetric"
        pagination:
          $ref: "#/components/schemas/CursorPagination"
        trace_id:
          type: string
          format: uuid
          example: "f659e7ad-cf11-45c1-a980-24fe83b4f393"
      required:
        - consumer_id
        - window_start
        - window_end
        - total_request_count
        - total_error_count
        - error_rate_pct
        - top_errors
        - endpoints
    ErrorBreakdown:
      type: object
      description: Aggregated error code metrics
      properties:
        code:
          type: string
          description: Normalized platform error code
          example: "UPSTREAM_TIMEOUT"
        category:
          type: string
          description: Error category grouping
          enum:
            - CLIENT
            - PLATFORM
            - UPSTREAM
            - THROTTLING
            - AUTH
          example: "UPSTREAM"
        http_status:
          type: integer
          description: Dominant HTTP status associated with this error code
          example: 504
        count:
          type: integer
          format: int64
          description: Number of occurrences
          example: 632
        error_rate_pct:
          type: number
          format: double
          description: Error percentage contribution
          example: 0.33
        impacted_endpoint_count:
          type: integer
          description: Number of endpoints impacted by this error type
          example: 4
        trend_direction:
          type: string
          description: Direction versus previous equivalent period
          enum:
            - UP
            - DOWN
            - FLAT
          example: "UP"
      required:
        - code
        - category
        - count
        - error_rate_pct
    EndpointErrorMetric:
      type: object
      description: Endpoint-level reliability metrics
      properties:
        product_id:
          type: string
          example: "prd_dispatch"
        endpoint:
          type: string
          description: Endpoint signature
          example: "GET /v2/dispatch/tasks"
        request_count:
          type: integer
          format: int64
          example: 82111
        error_count:
          type: integer
          format: int64
          example: 1177
        error_rate_pct:
          type: number
          format: double
          example: 1.43
        p99_latency_ms:
          type: number
          format: double
          example: 304.1
      required:
        - product_id
        - endpoint
        - request_count
        - error_count
        - error_rate_pct
        - p99_latency_ms
    ProductAdoptionResponse:
      type: object
      description: Product adoption analytics
      properties:
        product_id:
          type: string
          description: Product identifier
          example: "prd_dispatch"
        window_start:
          type: string
          format: date-time
          example: "2026-03-01T00:00:00Z"
        window_end:
          type: string
          format: date-time
          example: "2026-03-27T00:00:00Z"
        granularity:
          $ref: "#/components/schemas/TimeGranularity"
        summary:
          $ref: "#/components/schemas/AdoptionSummary"
        series:
          type: array
          items:
            $ref: "#/components/schemas/AdoptionBucket"
        trace_id:
          type: string
          format: uuid
          example: "3236e0b6-b4db-4024-9728-fd8b9fcc0665"
      required:
        - product_id
        - window_start
        - window_end
        - granularity
        - summary
        - series
    AdoptionSummary:
      type: object
      description: Aggregate adoption indicators
      properties:
        active_consumer_count:
          type: integer
          description: Number of active consumers in window
          example: 143
        new_consumer_count:
          type: integer
          description: Number of newly active consumers in window
          example: 17
        churned_consumer_count:
          type: integer
          description: Number of consumers no longer active compared to prior window
          example: 4
        active_app_count:
          type: integer
          description: Number of active apps using this product
          example: 526
        adoption_rate_pct:
          type: number
          format: double
          description: Percent of eligible consumers actively using the product
          example: 74.3
        request_growth_pct:
          type: number
          format: double
          description: Request volume growth compared with previous equivalent period
          example: 12.6
      required:
        - active_consumer_count
        - active_app_count
        - adoption_rate_pct
        - request_growth_pct
    AdoptionBucket:
      type: object
      description: Time-bucketed adoption metrics
      properties:
        bucket_start:
          type: string
          format: date-time
          example: "2026-03-01T00:00:00Z"
        bucket_end:
          type: string
          format: date-time
          example: "2026-03-08T00:00:00Z"
        active_consumer_count:
          type: integer
          example: 131
        active_app_count:
          type: integer
          example: 487
        request_count:
          type: integer
          format: int64
          example: 852190
        request_growth_pct:
          type: number
          format: double
          example: 5.9
      required:
        - bucket_start
        - bucket_end
        - active_consumer_count
        - active_app_count
        - request_count
    AnomalyDetectionRequest:
      type: object
      description: Request payload for anomaly detection processing
      properties:
        subject:
          $ref: "#/components/schemas/AnalyticsSubject"
        metrics:
          type: array
          description: One or more metric time series to evaluate
          minItems: 1
          items:
            $ref: "#/components/schemas/MetricSeries"
        config:
          $ref: "#/components/schemas/AnomalyDetectionConfig"
      required:
        - subject
        - metrics
    AnalyticsSubject:
      type: object
      description: Entity scope for analytics processing
      properties:
        scope:
          type: string
          enum:
            - CONSUMER
            - PRODUCT
            - CONSUMER_PRODUCT
          description: Scope that identifies the target entity
          example: "CONSUMER"
        consumer_id:
          type: string
          description: Consumer identifier when scope includes consumer dimensions
          example: "con_8b6c1f3a"
        product_id:
          type: string
          description: Product identifier when scope includes product dimensions
          example: "prd_dispatch"
      required:
        - scope
    MetricSeries:
      type: object
      description: Metric time series values used for anomaly detection
      properties:
        name:
          type: string
          enum:
            - request_count
            - error_rate_pct
            - p50_latency_ms
            - p99_latency_ms
            - active_app_count
          description: Metric identifier
          example: "error_rate_pct"
        points:
          type: array
          minItems: 3
          description: Ordered metric observations
          items:
            $ref: "#/components/schemas/MetricPoint"
      required:
        - name
        - points
    MetricPoint:
      type: object
      description: Timestamped metric observation
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2026-03-26T12:00:00Z"
        value:
          type: number
          format: double
          example: 4.8
      required:
        - timestamp
        - value
    AnomalyDetectionConfig:
      type: object
      description: Algorithm and sensitivity options for anomaly evaluation
      properties:
        method:
          type: string
          enum:
            - ROBUST_Z_SCORE
            - SEASONAL_BASELINE
          description: Detection method
          example: "ROBUST_Z_SCORE"
        z_score_threshold:
          type: number
          format: double
          description: Absolute z-score threshold used when method is ROBUST_Z_SCORE
          minimum: 1.0
          maximum: 10.0
          default: 2.5
          example: 2.5
        min_baseline_points:
          type: integer
          description: Minimum points required to establish baseline behavior
          minimum: 12
          maximum: 10000
          default: 24
          example: 24
        include_context:
          type: boolean
          description: Whether to include correlated context metrics per anomaly
          default: true
          example: true
      required:
        - method
    AnomalyDetectionResponse:
      type: object
      description: Detection results with anomaly detail and scoring
      properties:
        subject:
          $ref: "#/components/schemas/AnalyticsSubject"
        method:
          type: string
          description: Detection method that generated the response
          example: "ROBUST_Z_SCORE"
        anomalies:
          type: array
          items:
            $ref: "#/components/schemas/Anomaly"
        trace_id:
          type: string
          format: uuid
          example: "24a7648d-7288-4b1f-b4de-8f3fb2efd36b"
      required:
        - subject
        - method
        - anomalies
    Anomaly:
      type: object
      description: Individual anomaly finding
      properties:
        metric:
          type: string
          description: Metric name associated with anomaly
          example: "error_rate_pct"
        timestamp:
          type: string
          format: date-time
          example: "2026-03-26T12:00:00Z"
        observed_value:
          type: number
          format: double
          example: 4.8
        baseline_value:
          type: number
          format: double
          example: 1.2
        z_score:
          type: number
          format: double
          description: Standardized anomaly score
          example: 3.9
        severity:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
          example: "HIGH"
        context:
          type: object
          description: Optional contextual metrics associated with anomaly timestamp
          properties:
            request_count:
              type: integer
              format: int64
              example: 6421
            p99_latency_ms:
              type: number
              format: double
              example: 398.1
      required:
        - metric
        - timestamp
        - observed_value
        - baseline_value
        - z_score
        - severity
    QuotaForecastResponse:
      type: object
      description: Quota exhaustion forecast response
      properties:
        generated_at:
          type: string
          format: date-time
          description: Time the forecast was generated
          example: "2026-03-27T08:12:31Z"
        horizon_days:
          type: integer
          description: Forecast horizon in days
          example: 30
        confidence_level:
          type: number
          format: double
          description: Confidence level used for probabilistic intervals
          example: 0.95
        items:
          type: array
          items:
            $ref: "#/components/schemas/QuotaForecastItem"
        trace_id:
          type: string
          format: uuid
          example: "5586812e-caa5-4588-b0f8-f1d8f0ef4b95"
      required:
        - generated_at
        - horizon_days
        - confidence_level
        - items
    QuotaForecastItem:
      type: object
      description: Forecasted quota status for a scoped entity
      properties:
        scope:
          type: string
          enum:
            - CONSUMER
            - PRODUCT
            - CONSUMER_PRODUCT
          example: "CONSUMER_PRODUCT"
        consumer_id:
          type: string
          nullable: true
          example: "con_8b6c1f3a"
        product_id:
          type: string
          nullable: true
          example: "prd_dispatch"
        quota_limit:
          type: integer
          format: int64
          description: Configured quota limit for the scope
          example: 500000
        consumed_to_date:
          type: integer
          format: int64
          description: Current period quota consumption
          example: 451233
        forecasted_consumption:
          type: integer
          format: int64
          description: Predicted consumption by horizon end
          example: 541909
        quota_exhaustion_date:
          type: string
          format: date
          nullable: true
          description: Predicted date when quota is exhausted, if risk is material
          example: "2026-04-03"
        exhaustion_probability_pct:
          type: number
          format: double
          description: Probability that quota is exhausted before horizon end
          example: 92.1
        risk_level:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
          description: Risk category derived from probability and lead time
          example: "HIGH"
      required:
        - scope
        - quota_limit
        - consumed_to_date
        - forecasted_consumption
        - exhaustion_probability_pct
        - risk_level
    ReportListResponse:
      type: object
      description: Paginated list of report resources
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ReportResource"
        pagination:
          $ref: "#/components/schemas/PaginationMeta"
        trace_id:
          type: string
          format: uuid
          example: "e6e7cdaf-0f83-45fb-bf2c-a8cc57bc5138"
      required:
        - data
        - pagination
    ReportResource:
      type: object
      description: Analytics report resource definition
      properties:
        report_id:
          type: string
          description: Unique report identifier
          example: "rpt_01JY7W1TKVWV3N3D8MN3"
        name:
          type: string
          description: Report display name
          example: "Weekly Partner Reliability Rollup"
        type:
          type: string
          enum:
            - AD_HOC
            - SCHEDULED
          example: "SCHEDULED"
        format:
          type: string
          enum:
            - JSON
            - CSV
            - PARQUET
          example: "CSV"
        status:
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - COMPLETED
            - FAILED
            - DRAFT
          example: "ACTIVE"
        sections:
          type: array
          description: Analytics sections included in report
          items:
            $ref: "#/components/schemas/ReportSection"
        scope:
          $ref: "#/components/schemas/ReportScope"
        window:
          $ref: "#/components/schemas/ReportWindow"
        schedule:
          $ref: "#/components/schemas/ReportSchedule"
        delivery:
          $ref: "#/components/schemas/ReportDelivery"
        created_at:
          type: string
          format: date-time
          example: "2026-03-01T09:10:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-03-21T11:15:00Z"
        next_run_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-03-28T06:00:00Z"
      required:
        - report_id
        - name
        - type
        - format
        - status
        - scope
        - created_at
        - updated_at
    CreateReportRequest:
      type: object
      description: Request payload for creating a report definition
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 120
          description: Human-readable report name
          example: "Consumer Risk Weekly Digest"
        type:
          type: string
          enum:
            - AD_HOC
            - SCHEDULED
          description: Report generation mode
          example: "SCHEDULED"
        format:
          type: string
          enum:
            - JSON
            - CSV
            - PARQUET
          description: Report output format
          example: "CSV"
        sections:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ReportSection"
        scope:
          $ref: "#/components/schemas/ReportScope"
        window:
          $ref: "#/components/schemas/ReportWindow"
        schedule:
          $ref: "#/components/schemas/ReportSchedule"
        delivery:
          $ref: "#/components/schemas/ReportDelivery"
      required:
        - name
        - type
        - format
        - sections
        - scope
        - window
    ReportSection:
      type: string
      description: Analytics sections available for inclusion in reports
      enum:
        - USAGE
        - ERRORS
        - ADOPTION
        - ANOMALIES
        - FORECASTS
    ReportScope:
      type: object
      description: Scope filters for report data extraction
      properties:
        consumer_ids:
          type: array
          description: Optional list of consumer IDs to include
          items:
            type: string
          example:
            - "con_8b6c1f3a"
            - "con_920d31ab"
        product_ids:
          type: array
          description: Optional list of product IDs to include
          items:
            type: string
          example:
            - "prd_dispatch"
            - "prd_edge-monitor"
      additionalProperties: false
    ReportWindow:
      type: object
      description: Time window definition for report data
      properties:
        relative_days:
          type: integer
          minimum: 1
          maximum: 365
          description: Number of days back from execution time
          example: 7
        start_time:
          type: string
          format: date-time
          description: Explicit window start; optional when relative_days is provided
          example: "2026-03-01T00:00:00Z"
        end_time:
          type: string
          format: date-time
          description: Explicit window end; optional when relative_days is provided
          example: "2026-03-27T00:00:00Z"
      additionalProperties: false
    ReportSchedule:
      type: object
      description: Schedule configuration for recurring reports
      properties:
        cadence:
          type: string
          enum:
            - DAILY
            - WEEKLY
            - MONTHLY
          example: "WEEKLY"
        timezone:
          type: string
          description: IANA timezone identifier
          example: "UTC"
        day_of_week:
          type: string
          enum:
            - MONDAY
            - TUESDAY
            - WEDNESDAY
            - THURSDAY
            - FRIDAY
            - SATURDAY
            - SUNDAY
          nullable: true
          example: "MONDAY"
        day_of_month:
          type: integer
          minimum: 1
          maximum: 31
          nullable: true
          example: 1
        hour_utc:
          type: integer
          minimum: 0
          maximum: 23
          example: 6
      additionalProperties: false
    ReportDelivery:
      type: object
      description: Delivery channel settings for generated reports
      properties:
        channel:
          type: string
          enum:
            - EMAIL
            - WEBHOOK
            - S3
          example: "EMAIL"
        recipients:
          type: array
          description: Email recipients for EMAIL delivery
          items:
            type: string
            format: email
          example:
            - "ops-partner-analytics@verizon.com"
        webhook_url:
          type: string
          format: uri
          nullable: true
          description: Webhook destination URL for WEBHOOK delivery
          example: "https://hooks.partner.verizon.com/analytics/report"
        s3_uri:
          type: string
          nullable: true
          description: S3 URI destination for S3 delivery channel
          example: "s3://verizon-analytics-reports/partner/weekly/"
      additionalProperties: false
    CursorPagination:
      type: object
      description: Cursor-based pagination metadata
      properties:
        next_cursor:
          type: string
          nullable: true
          description: Opaque cursor for next page retrieval
          example: "eyJvZmZzZXQiOjIwfQ=="
        limit:
          type: integer
          description: Requested page size
          example: 20
      required:
        - limit
    PaginationMeta:
      type: object
      description: Pagination metadata for list responses
      properties:
        page:
          type: integer
          description: Current page number
          example: 1
        per_page:
          type: integer
          description: Number of items per page
          example: 20
        total_items:
          type: integer
          description: Total number of items across all pages
          example: 132
        total_pages:
          type: integer
          description: Number of available pages
          example: 7
      required:
        - page
        - per_page
        - total_items
        - total_pages
    TimeGranularity:
      type: string
      description: Time bucket granularity used in aggregations
      enum:
        - HOUR
        - DAY
        - WEEK
    Error:
      type: object
      description: Standard API error envelope
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error description
              example: "The request contains invalid query parameters."
            details:
              type: array
              description: Optional list of validation or processing details
              items:
                type: object
                properties:
                  field:
                    type: string
                    example: "start_time"
                  reason:
                    type: string
                    example: "Must be before end_time"
            request_id:
              type: string
              format: uuid
              description: Unique request identifier used for support and tracing
              example: "f48c75c5-89d6-42f7-9787-967fa8ce30dd"
          required:
            - code
            - message
            - request_id
      required:
        - error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token issued by Verizon API Identity platform
  parameters:
    ConsumerId:
      name: consumerId
      in: path
      required: true
      description: Unique API consumer identifier
      schema:
        type: string
      example: "con_8b6c1f3a"
    ConsumerIdOptional:
      name: consumer_id
      in: query
      required: false
      description: Optional consumer identifier filter
      schema:
        type: string
      example: "con_8b6c1f3a"
    ProductIdPath:
      name: productId
      in: path
      required: true
      description: Unique product identifier
      schema:
        type: string
      example: "prd_dispatch"
    ProductIdFilter:
      name: product_id
      in: query
      required: false
      description: Optional product identifier filter
      schema:
        type: string
      example: "prd_dispatch"
    StartTime:
      name: start_time
      in: query
      required: true
      description: Inclusive start time in ISO 8601 format
      schema:
        type: string
        format: date-time
      example: "2026-03-20T00:00:00Z"
    EndTime:
      name: end_time
      in: query
      required: true
      description: Exclusive end time in ISO 8601 format
      schema:
        type: string
        format: date-time
      example: "2026-03-27T00:00:00Z"
    Granularity:
      name: granularity
      in: query
      required: false
      description: Time aggregation granularity
      schema:
        $ref: "#/components/schemas/TimeGranularity"
        default: DAY
      example: "DAY"
    IncludePercentiles:
      name: include_percentiles
      in: query
      required: false
      description: Whether to include latency percentile fields in the response
      schema:
        type: boolean
        default: true
      example: true
    ErrorCodeFilter:
      name: error_code
      in: query
      required: false
      description: Optional normalized error code filter
      schema:
        type: string
      example: "UPSTREAM_TIMEOUT"
    Limit:
      name: limit
      in: query
      required: false
      description: Maximum number of records to return
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
      example: 20
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for pagination continuation
      schema:
        type: string
      example: "eyJvZmZzZXQiOjIwfQ=="
    HorizonDays:
      name: horizon_days
      in: query
      required: false
      description: Number of days to project forward
      schema:
        type: integer
        minimum: 1
        maximum: 365
        default: 30
      example: 30
    ConfidenceLevel:
      name: confidence_level
      in: query
      required: false
      description: Confidence level for forecast intervals
      schema:
        type: number
        format: double
        minimum: 0.5
        maximum: 0.99
        default: 0.95
      example: 0.95
    ReportType:
      name: type
      in: query
      required: false
      description: Optional report type filter
      schema:
        type: string
        enum:
          - AD_HOC
          - SCHEDULED
      example: "SCHEDULED"
    ReportStatus:
      name: status
      in: query
      required: false
      description: Optional report lifecycle status filter
      schema:
        type: string
        enum:
          - ACTIVE
          - PAUSED
          - COMPLETED
          - FAILED
          - DRAFT
      example: "ACTIVE"
    Page:
      name: page
      in: query
      required: false
      description: Page number for paginated report listing
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
    PerPage:
      name: per_page
      in: query
      required: false
      description: Number of items per page for report listing
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      example: 20
  responses:
    "400":
      description: Bad Request - Request is malformed or parameter validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "VALIDATION_ERROR"
              message: "The request contains invalid query parameters."
              details:
                - field: "start_time"
                  reason: "Must be before end_time"
              request_id: "f48c75c5-89d6-42f7-9787-967fa8ce30dd"
    "401":
      description: Unauthorized - Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Missing or invalid bearer token."
              request_id: "95ef15c9-5a6b-4d3d-94c5-61ef31ecf60e"
    "403":
      description: Forbidden - Caller is authenticated but not authorized for this scope.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "FORBIDDEN"
              message: "Insufficient permissions for requested analytics scope."
              request_id: "021807e1-3dca-41f3-90cb-f1028f85ba01"
    "404":
      description: Not Found - Requested consumer, product, or report could not be found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "NOT_FOUND"
              message: "Requested resource does not exist."
              request_id: "3279ba2f-11dd-4e74-aa4a-f3548cae760c"
    "409":
      description: Conflict - Request conflicts with existing resource state.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "CONFLICT"
              message: "A report with the same name and scope already exists."
              request_id: "8a041f72-727d-446f-b2f3-143b54995aa6"
    "422":
      description: Unprocessable Entity - Request is semantically valid but violates business rules.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "UNPROCESSABLE_ENTITY"
              message: "Anomaly series requires at least 24 baseline points for this method."
              request_id: "3fd49e0d-22df-46ec-8b3f-d8fc82048dc1"
    "429":
      description: Too Many Requests - Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "RATE_LIMIT_EXCEEDED"
              message: "Request quota exceeded, retry after 60 seconds."
              request_id: "3f52c45e-efea-4c87-8e58-1b26ddb3f2da"
    "500":
      description: Internal Server Error - Unexpected processing failure.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "INTERNAL_ERROR"
              message: "Unexpected server-side error while processing analytics request."
              request_id: "be3f52aa-0ab0-4595-a390-285d37d876bf"
