openapi: 3.0.3
info:
  title: VZW Regulatory Reporting API
  description: >-
    Generates auditable outage reliability and demand-response filings for utility regulators. This API
    supports report creation, regulator submission workflows, report retrieval, and filing audit evidence
    required for compliance programs and external investigations.
  version: 1.0.0
  contact:
    name: Verizon Regulatory Platform API Support
    email: regulatory-api-support@verizon.com
    url: https://developer.verizon.com/apis/vzw-regulatory-reporting-api
  license:
    name: Proprietary
    url: https://www.verizon.com/business/terms/
  x-verizon-catalog-id: vzw-regulatory-reporting-api
  x-verizon-domain: regulatory
servers:
  - url: https://vzw-regulatory-reporting-api.api.verizon.com/v1
    description: Production
  - url: https://vzw-regulatory-reporting-api.staging.api.verizon.com/v1
    description: Staging
security:
  - BearerAuth: []
tags:
  - name: Reports
    description: Create and retrieve outage and demand-response reports
  - name: Submissions
    description: Submit generated reports to regulator endpoints and track filing status
  - name: Audit
    description: Retrieve filing artifacts and signature evidence for compliance audits
paths:
  /v1/reports/outage-reliability:
    post:
      operationId: createOutageReliabilityReport
      summary: Create outage reliability filing report
      description: >-
        Creates an outage reliability report candidate for a regulatory filing cycle. The request includes
        SAIDI and SAIFI measurements, jurisdiction metadata, and evidentiary links used during external
        audits. The generated report is initially stored with filing_status DRAFT.
      tags:
        - Reports
      requestBody:
        required: true
        description: Outage reliability report payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutageReliabilityReportCreateRequest'
            examples:
              annualDistributionReliability:
                summary: Annual outage reliability report
                value:
                  utility_id: util-nyc-grid-001
                  jurisdiction: NY-PSC
                  reporting_period:
                    period_start: '2025-01-01'
                    period_end: '2025-12-31'
                    filing_due_date: '2026-03-31'
                  saidi_minutes: 113.6
                  saifi_events: 0.94
                  customer_count: 2350041
                  major_event_day_excluded: true
                  compliance_score: 97.4
                  methodology_version: ieee-1366-2023
                  regulator_endpoint: https://filings.nypsc.gov/api/v2/submissions
                  evidence_links:
                    - evidence_id: ev-9f10ba21
                      title: OMS Reliability Extract
                      uri: s3://vzw-regulatory/evidence/2025/oms-extract.parquet
                      sha256: b89d02fef7f9b80f0362e6900f5492d97f0e3a4faa9f9fbc1307d1665cd5a266
                  notes: Includes MED exclusions as approved in docket 23-E-1044.
      responses:
        '201':
          description: Outage reliability report created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRecord'
              examples:
                created:
                  value:
                    report_id: rpt-7bc8d126
                    report_type: OUTAGE_RELIABILITY
                    utility_id: util-nyc-grid-001
                    jurisdiction: NY-PSC
                    reporting_period:
                      period_start: '2025-01-01'
                      period_end: '2025-12-31'
                      filing_due_date: '2026-03-31'
                    saidi_minutes: 113.6
                    saifi_events: 0.94
                    compliance_score: 97.4
                    regulator_endpoint: https://filings.nypsc.gov/api/v2/submissions
                    filing_status: DRAFT
                    signature_status: NOT_SIGNED
                    created_at: '2026-01-08T13:05:20Z'
                    updated_at: '2026-01-08T13:05:20Z'
                    created_by: user-501
                    updated_by: user-501
                    trace_id: 73f8b6da-2487-446f-a11c-6f89d68f16e5
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /v1/reports/demand-response:
    post:
      operationId: createDemandResponseReport
      summary: Create demand-response filing report
      description: >-
        Creates a demand-response report candidate including dispatch counts, enrolled load, delivered load,
        and performance scoring. The report can be reviewed and signed before submission to the configured
        regulator_endpoint.
      tags:
        - Reports
      requestBody:
        required: true
        description: Demand-response report payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemandResponseReportCreateRequest'
            examples:
              summerProgram:
                summary: Summer demand-response filing
                value:
                  utility_id: util-ne-grid-904
                  jurisdiction: ISO-NE-DPU
                  reporting_period:
                    period_start: '2025-06-01'
                    period_end: '2025-09-30'
                    filing_due_date: '2025-11-15'
                  enrolled_mw: 486.2
                  dispatched_events: 18
                  average_event_duration_minutes: 117
                  delivered_mwh: 14926.5
                  baseline_mwh: 15788.3
                  compliance_score: 95.1
                  regulator_endpoint: https://regulator.iso-ne.com/v1/dr-filings
                  portfolio_segments:
                    - segment_id: seg-cni
                      segment_name: Commercial and Industrial
                      enrolled_mw: 298.7
                      delivered_mwh: 9102.6
                    - segment_id: seg-res
                      segment_name: Residential Aggregation
                      enrolled_mw: 187.5
                      delivered_mwh: 5823.9
                  notes: Includes emergency dispatches and voluntary events.
      responses:
        '201':
          description: Demand-response report created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRecord'
              examples:
                created:
                  value:
                    report_id: rpt-41a7b2de
                    report_type: DEMAND_RESPONSE
                    utility_id: util-ne-grid-904
                    jurisdiction: ISO-NE-DPU
                    reporting_period:
                      period_start: '2025-06-01'
                      period_end: '2025-09-30'
                      filing_due_date: '2025-11-15'
                    compliance_score: 95.1
                    regulator_endpoint: https://regulator.iso-ne.com/v1/dr-filings
                    filing_status: DRAFT
                    signature_status: PENDING_SIGNATURE
                    created_at: '2025-10-09T11:15:44Z'
                    updated_at: '2025-10-09T11:15:44Z'
                    created_by: user-782
                    updated_by: user-782
                    trace_id: 2f7c7af6-6e6f-42ec-8a2f-c8f3961824b1
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /v1/reports:
    get:
      operationId: listReports
      summary: List generated reports
      description: >-
        Returns paginated outage reliability and demand-response reports with filing and signature status.
        Use filters to constrain report_type, filing_status, and reporting period boundaries for regulator
        audit preparation.
      tags:
        - Reports
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: report_type
          in: query
          required: false
          description: Restrict results to one report type
          schema:
            $ref: '#/components/schemas/ReportType'
        - name: filing_status
          in: query
          required: false
          description: Restrict results by filing lifecycle status
          schema:
            $ref: '#/components/schemas/FilingStatus'
        - name: utility_id
          in: query
          required: false
          description: Restrict results to a utility identifier
          schema:
            type: string
            maxLength: 64
            example: util-ne-grid-904
        - name: period_start_from
          in: query
          required: false
          description: Inclusive lower bound for reporting period start
          schema:
            type: string
            format: date
            example: '2025-01-01'
        - name: period_end_to
          in: query
          required: false
          description: Inclusive upper bound for reporting period end
          schema:
            type: string
            format: date
            example: '2025-12-31'
      responses:
        '200':
          description: Paginated list of reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResponse'
              examples:
                pageOne:
                  value:
                    data:
                      - report_id: rpt-7bc8d126
                        report_type: OUTAGE_RELIABILITY
                        utility_id: util-nyc-grid-001
                        jurisdiction: NY-PSC
                        reporting_period:
                          period_start: '2025-01-01'
                          period_end: '2025-12-31'
                          filing_due_date: '2026-03-31'
                        saidi_minutes: 113.6
                        saifi_events: 0.94
                        compliance_score: 97.4
                        filing_status: REVIEW_PENDING
                        regulator_endpoint: https://filings.nypsc.gov/api/v2/submissions
                        signature_status: SIGNED
                        created_at: '2026-01-08T13:05:20Z'
                        updated_at: '2026-01-20T09:14:10Z'
                        created_by: user-501
                        updated_by: user-864
                        trace_id: 73f8b6da-2487-446f-a11c-6f89d68f16e5
                      - report_id: rpt-41a7b2de
                        report_type: DEMAND_RESPONSE
                        utility_id: util-ne-grid-904
                        jurisdiction: ISO-NE-DPU
                        reporting_period:
                          period_start: '2025-06-01'
                          period_end: '2025-09-30'
                          filing_due_date: '2025-11-15'
                        compliance_score: 95.1
                        filing_status: SUBMITTED
                        regulator_endpoint: https://regulator.iso-ne.com/v1/dr-filings
                        signature_status: SIGNED
                        created_at: '2025-10-09T11:15:44Z'
                        updated_at: '2025-11-09T14:02:03Z'
                        created_by: user-782
                        updated_by: user-782
                        trace_id: 2f7c7af6-6e6f-42ec-8a2f-c8f3961824b1
                    pagination:
                      page: 1
                      page_size: 25
                      total_records: 2
                      total_pages: 1
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /v1/reports/{reportId}:
    get:
      operationId: getReportById
      summary: Get report details
      description: >-
        Returns a single report with full reporting metrics, filing lifecycle metadata, and signature status.
        If the report has been submitted, submission receipt metadata is included.
      tags:
        - Reports
      parameters:
        - $ref: '#/components/parameters/ReportId'
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDetailResponse'
              examples:
                outageSubmitted:
                  value:
                    report:
                      report_id: rpt-7bc8d126
                      report_type: OUTAGE_RELIABILITY
                      utility_id: util-nyc-grid-001
                      jurisdiction: NY-PSC
                      reporting_period:
                        period_start: '2025-01-01'
                        period_end: '2025-12-31'
                        filing_due_date: '2026-03-31'
                      saidi_minutes: 113.6
                      saifi_events: 0.94
                      customer_count: 2350041
                      major_event_day_excluded: true
                      compliance_score: 97.4
                      filing_status: SUBMITTED
                      regulator_endpoint: https://filings.nypsc.gov/api/v2/submissions
                      signature_status: SIGNED
                      submission_receipt:
                        submission_id: sub-1018dbf4
                        submitted_at: '2026-01-22T12:30:45Z'
                        accepted_at: '2026-01-22T12:31:02Z'
                        regulator_tracking_id: NYPSC-2026-REL-000913
                      created_at: '2026-01-08T13:05:20Z'
                      updated_at: '2026-01-22T12:31:02Z'
                      created_by: user-501
                      updated_by: system-filing-bridge
                      trace_id: 73f8b6da-2487-446f-a11c-6f89d68f16e5
                    evidence:
                      - evidence_id: ev-9f10ba21
                        title: OMS Reliability Extract
                        uri: s3://vzw-regulatory/evidence/2025/oms-extract.parquet
                        sha256: b89d02fef7f9b80f0362e6900f5492d97f0e3a4faa9f9fbc1307d1665cd5a266
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /v1/reports/{reportId}:submit:
    post:
      operationId: submitReportFiling
      summary: Submit report filing to regulator
      description: >-
        Submits a signed report package to the configured regulator_endpoint. The report must be in
        REVIEW_PENDING or SIGNED status, and signature_status must be SIGNED prior to submission.
        Successful submission transitions filing_status to SUBMITTED and records a submission receipt.
      tags:
        - Submissions
      parameters:
        - $ref: '#/components/parameters/ReportId'
      requestBody:
        required: true
        description: Submission metadata and attestation payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportSubmissionRequest'
            examples:
              submitWithAttestation:
                value:
                  submitter_id: user-864
                  attestation:
                    attest_statement: I certify the data is complete and accurate to the best of my knowledge.
                    signed_at: '2026-01-22T12:29:55Z'
                    signing_authority: Director of Grid Reliability
                  transmission:
                    idempotency_key: 975be2cf-4f66-41a5-a6f1-30de28f8452f
                    transport_mode: API_PUSH
                    callback_url: https://compliance.verizon.com/filings/callback
      responses:
        '202':
          description: Filing submission accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionAcceptedResponse'
              examples:
                accepted:
                  value:
                    report_id: rpt-7bc8d126
                    filing_status: SUBMISSION_IN_PROGRESS
                    regulator_endpoint: https://filings.nypsc.gov/api/v2/submissions
                    signature_status: SIGNED
                    submission_job_id: job-f31ca2f1
                    accepted_at: '2026-01-22T12:30:00Z'
                    trace_id: c8dd1f15-f9ba-4d36-b3af-ae04c687791f
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /v1/audit/filings:
    get:
      operationId: listFilingAuditRecords
      summary: List filing audit records
      description: >-
        Returns immutable filing audit entries that include filing status transitions, signature validation
        details, and regulator acknowledgement artifacts. Results are paginated and can be filtered by
        report_id, filing_status, and submission time range.
      tags:
        - Audit
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: report_id
          in: query
          required: false
          description: Restrict audit records to a specific report
          schema:
            type: string
            maxLength: 64
            example: rpt-7bc8d126
        - name: filing_status
          in: query
          required: false
          description: Restrict records to a filing status
          schema:
            $ref: '#/components/schemas/FilingStatus'
        - name: submitted_after
          in: query
          required: false
          description: Lower bound for submission timestamp (inclusive)
          schema:
            type: string
            format: date-time
            example: '2026-01-01T00:00:00Z'
        - name: submitted_before
          in: query
          required: false
          description: Upper bound for submission timestamp (inclusive)
          schema:
            type: string
            format: date-time
            example: '2026-02-01T00:00:00Z'
      responses:
        '200':
          description: Paginated filing audit records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilingAuditListResponse'
              examples:
                filings:
                  value:
                    data:
                      - audit_id: aud-90210c8a
                        report_id: rpt-7bc8d126
                        filing_status: SUBMITTED
                        regulator_endpoint: https://filings.nypsc.gov/api/v2/submissions
                        signature_status: VERIFIED
                        compliance_score: 97.4
                        event_type: REGULATOR_ACCEPTED
                        event_timestamp: '2026-01-22T12:31:02Z'
                        actor: system-filing-bridge
                        regulator_tracking_id: NYPSC-2026-REL-000913
                        evidence_uri: s3://vzw-regulatory/receipts/nypsc-2026-rel-000913.json
                        trace_id: c8dd1f15-f9ba-4d36-b3af-ae04c687791f
                      - audit_id: aud-90210c8b
                        report_id: rpt-41a7b2de
                        filing_status: REJECTED
                        regulator_endpoint: https://regulator.iso-ne.com/v1/dr-filings
                        signature_status: VERIFIED
                        compliance_score: 89.2
                        event_type: REGULATOR_REJECTED
                        event_timestamp: '2025-11-11T19:23:12Z'
                        actor: system-filing-bridge
                        rejection_reason: Missing meter aggregation appendix in attachment index.
                        evidence_uri: s3://vzw-regulatory/receipts/isone-rejection-20251111.json
                        trace_id: 92f02f7d-2cb4-4f9f-8dcf-6cba5047fb20
                    pagination:
                      page: 1
                      page_size: 25
                      total_records: 2
                      total_pages: 1
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
components:
  parameters:
    ReportId:
      name: reportId
      in: path
      required: true
      description: Unique report identifier
      schema:
        type: string
        pattern: '^rpt-[a-z0-9]{8,32}$'
        example: rpt-7bc8d126
    Page:
      name: page
      in: query
      required: false
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    PageSize:
      name: page_size
      in: query
      required: false
      description: Number of records per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
        example: 25
  schemas:
    ReportType:
      type: string
      description: Type of regulatory report
      enum:
        - OUTAGE_RELIABILITY
        - DEMAND_RESPONSE
      example: OUTAGE_RELIABILITY
    FilingStatus:
      type: string
      description: Filing lifecycle status
      enum:
        - DRAFT
        - REVIEW_PENDING
        - SIGNED
        - SUBMISSION_IN_PROGRESS
        - SUBMITTED
        - ACCEPTED
        - REJECTED
        - WITHDRAWN
      example: REVIEW_PENDING
    SignatureStatus:
      type: string
      description: Digital signing lifecycle status
      enum:
        - NOT_SIGNED
        - PENDING_SIGNATURE
        - SIGNED
        - VERIFIED
        - INVALID
      example: VERIFIED
    ReportingPeriod:
      type: object
      description: Reporting period metadata for a filing cycle
      properties:
        period_start:
          type: string
          format: date
          description: Inclusive start date of reporting period
          example: '2025-01-01'
        period_end:
          type: string
          format: date
          description: Inclusive end date of reporting period
          example: '2025-12-31'
        filing_due_date:
          type: string
          format: date
          description: Date by which filing must be submitted
          example: '2026-03-31'
      required:
        - period_start
        - period_end
        - filing_due_date
    EvidenceLink:
      type: object
      description: Evidence artifact reference used for external audits
      properties:
        evidence_id:
          type: string
          description: Unique evidence record identifier
          example: ev-9f10ba21
        title:
          type: string
          description: Human-readable evidence title
          maxLength: 200
          example: OMS Reliability Extract
        uri:
          type: string
          description: Object store or document URI
          maxLength: 512
          example: s3://vzw-regulatory/evidence/2025/oms-extract.parquet
        sha256:
          type: string
          description: SHA-256 checksum for tamper detection
          pattern: '^[a-fA-F0-9]{64}$'
          example: b89d02fef7f9b80f0362e6900f5492d97f0e3a4faa9f9fbc1307d1665cd5a266
      required:
        - evidence_id
        - title
        - uri
    PortfolioSegment:
      type: object
      description: Demand-response portfolio segment metrics
      properties:
        segment_id:
          type: string
          maxLength: 64
          example: seg-cni
        segment_name:
          type: string
          maxLength: 120
          example: Commercial and Industrial
        enrolled_mw:
          type: number
          format: double
          minimum: 0
          example: 298.7
        delivered_mwh:
          type: number
          format: double
          minimum: 0
          example: 9102.6
      required:
        - segment_id
        - segment_name
        - enrolled_mw
        - delivered_mwh
    OutageReliabilityReportCreateRequest:
      type: object
      description: Payload used to create an outage reliability report
      properties:
        utility_id:
          type: string
          description: Utility identifier in the reporting authority system
          maxLength: 64
          example: util-nyc-grid-001
        jurisdiction:
          type: string
          description: Regulator jurisdiction code
          maxLength: 64
          example: NY-PSC
        reporting_period:
          $ref: '#/components/schemas/ReportingPeriod'
        saidi_minutes:
          type: number
          format: double
          description: System Average Interruption Duration Index minutes
          minimum: 0
          example: 113.6
        saifi_events:
          type: number
          format: double
          description: System Average Interruption Frequency Index events
          minimum: 0
          example: 0.94
        customer_count:
          type: integer
          description: Number of customers included in index calculation
          minimum: 1
          example: 2350041
        major_event_day_excluded:
          type: boolean
          description: Whether major event days were excluded from reliability calculations
          example: true
        compliance_score:
          type: number
          format: double
          description: Internal compliance scoring used for pre-filing quality gating
          minimum: 0
          maximum: 100
          example: 97.4
        methodology_version:
          type: string
          description: Standards methodology release used for reliability calculation
          maxLength: 100
          example: ieee-1366-2023
        regulator_endpoint:
          type: string
          format: uri
          description: Regulator endpoint that receives the final filing
          maxLength: 512
          example: https://filings.nypsc.gov/api/v2/submissions
        evidence_links:
          type: array
          description: Supporting evidence references attached to the report
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/EvidenceLink'
        notes:
          type: string
          description: Optional preparer notes used during review
          maxLength: 2000
          example: Includes MED exclusions as approved in docket 23-E-1044.
      required:
        - utility_id
        - jurisdiction
        - reporting_period
        - saidi_minutes
        - saifi_events
        - customer_count
        - compliance_score
        - regulator_endpoint
    DemandResponseReportCreateRequest:
      type: object
      description: Payload used to create a demand-response report
      properties:
        utility_id:
          type: string
          description: Utility identifier in the reporting authority system
          maxLength: 64
          example: util-ne-grid-904
        jurisdiction:
          type: string
          description: Regulator jurisdiction code
          maxLength: 64
          example: ISO-NE-DPU
        reporting_period:
          $ref: '#/components/schemas/ReportingPeriod'
        enrolled_mw:
          type: number
          format: double
          description: Total enrolled demand-response capacity in megawatts
          minimum: 0
          example: 486.2
        dispatched_events:
          type: integer
          description: Number of dispatch events during reporting period
          minimum: 0
          example: 18
        average_event_duration_minutes:
          type: integer
          description: Average duration of dispatch events in minutes
          minimum: 0
          example: 117
        delivered_mwh:
          type: number
          format: double
          description: Delivered energy reduction in megawatt-hours
          minimum: 0
          example: 14926.5
        baseline_mwh:
          type: number
          format: double
          description: Baseline projected energy usage in megawatt-hours
          minimum: 0
          example: 15788.3
        compliance_score:
          type: number
          format: double
          description: Internal compliance scoring used for pre-filing quality gating
          minimum: 0
          maximum: 100
          example: 95.1
        regulator_endpoint:
          type: string
          format: uri
          description: Regulator endpoint that receives the final filing
          maxLength: 512
          example: https://regulator.iso-ne.com/v1/dr-filings
        portfolio_segments:
          type: array
          description: Segment-level performance breakdown
          minItems: 0
          maxItems: 100
          items:
            $ref: '#/components/schemas/PortfolioSegment'
        notes:
          type: string
          description: Optional preparer notes used during review
          maxLength: 2000
          example: Includes emergency dispatches and voluntary events.
      required:
        - utility_id
        - jurisdiction
        - reporting_period
        - enrolled_mw
        - dispatched_events
        - delivered_mwh
        - compliance_score
        - regulator_endpoint
    SubmissionAttestation:
      type: object
      description: Human attestation recorded before filing transmission
      properties:
        attest_statement:
          type: string
          maxLength: 500
          description: Signed assertion of report completeness and accuracy
          example: I certify the data is complete and accurate to the best of my knowledge.
        signed_at:
          type: string
          format: date-time
          description: Timestamp when attestation was signed
          example: '2026-01-22T12:29:55Z'
        signing_authority:
          type: string
          maxLength: 128
          description: Job title or delegated authority of signer
          example: Director of Grid Reliability
      required:
        - attest_statement
        - signed_at
        - signing_authority
    SubmissionTransmissionOptions:
      type: object
      description: Transport options for regulator submission
      properties:
        idempotency_key:
          type: string
          format: uuid
          description: Idempotency key used to prevent duplicate filings
          example: 975be2cf-4f66-41a5-a6f1-30de28f8452f
        transport_mode:
          type: string
          description: Transmission mode used for filing delivery
          enum:
            - API_PUSH
            - SFTP_DROP
            - MANUAL_UPLOAD
          example: API_PUSH
        callback_url:
          type: string
          format: uri
          description: Callback endpoint for asynchronous regulator updates
          maxLength: 512
          example: https://compliance.verizon.com/filings/callback
      required:
        - idempotency_key
        - transport_mode
    ReportSubmissionRequest:
      type: object
      description: Submission request payload for sending a report to a regulator
      properties:
        submitter_id:
          type: string
          maxLength: 64
          description: Identifier of submitting user or service principal
          example: user-864
        attestation:
          $ref: '#/components/schemas/SubmissionAttestation'
        transmission:
          $ref: '#/components/schemas/SubmissionTransmissionOptions'
      required:
        - submitter_id
        - attestation
        - transmission
    SubmissionReceipt:
      type: object
      description: Regulator acknowledgement metadata after submission
      properties:
        submission_id:
          type: string
          maxLength: 64
          example: sub-1018dbf4
        submitted_at:
          type: string
          format: date-time
          example: '2026-01-22T12:30:45Z'
        accepted_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-01-22T12:31:02Z'
        regulator_tracking_id:
          type: string
          maxLength: 128
          nullable: true
          example: NYPSC-2026-REL-000913
      required:
        - submission_id
        - submitted_at
    ReportRecord:
      type: object
      description: Canonical report record returned by create and list operations
      properties:
        report_id:
          type: string
          maxLength: 64
          example: rpt-7bc8d126
        report_type:
          $ref: '#/components/schemas/ReportType'
        utility_id:
          type: string
          maxLength: 64
          example: util-nyc-grid-001
        jurisdiction:
          type: string
          maxLength: 64
          example: NY-PSC
        reporting_period:
          $ref: '#/components/schemas/ReportingPeriod'
        saidi_minutes:
          type: number
          format: double
          nullable: true
          description: SAIDI metric populated for outage reliability reports
          example: 113.6
        saifi_events:
          type: number
          format: double
          nullable: true
          description: SAIFI metric populated for outage reliability reports
          example: 0.94
        customer_count:
          type: integer
          nullable: true
          description: Customer count for outage reliability metrics
          example: 2350041
        major_event_day_excluded:
          type: boolean
          nullable: true
          description: Indicates MED exclusion in outage metrics
          example: true
        enrolled_mw:
          type: number
          format: double
          nullable: true
          description: Enrolled demand-response capacity
          example: 486.2
        dispatched_events:
          type: integer
          nullable: true
          description: Number of demand-response dispatches
          example: 18
        average_event_duration_minutes:
          type: integer
          nullable: true
          description: Average dispatch duration in minutes
          example: 117
        delivered_mwh:
          type: number
          format: double
          nullable: true
          description: Delivered demand-response reduction
          example: 14926.5
        baseline_mwh:
          type: number
          format: double
          nullable: true
          description: Baseline energy profile for demand-response reporting
          example: 15788.3
        compliance_score:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Compliance confidence score prior to submission
          example: 97.4
        filing_status:
          $ref: '#/components/schemas/FilingStatus'
        regulator_endpoint:
          type: string
          format: uri
          maxLength: 512
          description: Configured endpoint for regulator filing
          example: https://filings.nypsc.gov/api/v2/submissions
        signature_status:
          $ref: '#/components/schemas/SignatureStatus'
        submission_receipt:
          allOf:
            - $ref: '#/components/schemas/SubmissionReceipt'
          nullable: true
        created_at:
          type: string
          format: date-time
          description: Record creation timestamp
          example: '2026-01-08T13:05:20Z'
        updated_at:
          type: string
          format: date-time
          description: Record last update timestamp
          example: '2026-01-22T12:31:02Z'
        created_by:
          type: string
          description: Actor that created report
          maxLength: 64
          example: user-501
        updated_by:
          type: string
          description: Actor that last updated report
          maxLength: 64
          example: system-filing-bridge
        trace_id:
          type: string
          format: uuid
          description: Distributed tracing identifier
          example: 73f8b6da-2487-446f-a11c-6f89d68f16e5
      required:
        - report_id
        - report_type
        - utility_id
        - jurisdiction
        - reporting_period
        - compliance_score
        - filing_status
        - regulator_endpoint
        - signature_status
        - created_at
        - updated_at
        - created_by
        - updated_by
        - trace_id
    ReportListResponse:
      type: object
      description: Paginated collection of reports
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReportRecord'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - pagination
    ReportDetailResponse:
      type: object
      description: Detailed report response including evidence links
      properties:
        report:
          $ref: '#/components/schemas/ReportRecord'
        evidence:
          type: array
          items:
            $ref: '#/components/schemas/EvidenceLink'
      required:
        - report
        - evidence
    SubmissionAcceptedResponse:
      type: object
      description: Response returned when a submission job is accepted
      properties:
        report_id:
          type: string
          maxLength: 64
          example: rpt-7bc8d126
        filing_status:
          $ref: '#/components/schemas/FilingStatus'
        regulator_endpoint:
          type: string
          format: uri
          maxLength: 512
          example: https://filings.nypsc.gov/api/v2/submissions
        signature_status:
          $ref: '#/components/schemas/SignatureStatus'
        submission_job_id:
          type: string
          maxLength: 64
          example: job-f31ca2f1
        accepted_at:
          type: string
          format: date-time
          example: '2026-01-22T12:30:00Z'
        trace_id:
          type: string
          format: uuid
          example: c8dd1f15-f9ba-4d36-b3af-ae04c687791f
      required:
        - report_id
        - filing_status
        - regulator_endpoint
        - signature_status
        - submission_job_id
        - accepted_at
        - trace_id
    FilingAuditRecord:
      type: object
      description: Immutable audit event for filing lifecycle and signature verification
      properties:
        audit_id:
          type: string
          maxLength: 64
          example: aud-90210c8a
        report_id:
          type: string
          maxLength: 64
          example: rpt-7bc8d126
        filing_status:
          $ref: '#/components/schemas/FilingStatus'
        regulator_endpoint:
          type: string
          format: uri
          maxLength: 512
          example: https://filings.nypsc.gov/api/v2/submissions
        signature_status:
          $ref: '#/components/schemas/SignatureStatus'
        compliance_score:
          type: number
          format: double
          minimum: 0
          maximum: 100
          example: 97.4
        event_type:
          type: string
          description: Audit event classification
          enum:
            - SUBMISSION_REQUESTED
            - SUBMISSION_DISPATCHED
            - REGULATOR_ACCEPTED
            - REGULATOR_REJECTED
            - STATUS_CORRECTED
            - WITHDRAWAL_REQUESTED
          example: REGULATOR_ACCEPTED
        event_timestamp:
          type: string
          format: date-time
          example: '2026-01-22T12:31:02Z'
        actor:
          type: string
          maxLength: 64
          example: system-filing-bridge
        regulator_tracking_id:
          type: string
          nullable: true
          maxLength: 128
          example: NYPSC-2026-REL-000913
        rejection_reason:
          type: string
          nullable: true
          maxLength: 2000
          example: Missing meter aggregation appendix in attachment index.
        evidence_uri:
          type: string
          maxLength: 512
          nullable: true
          example: s3://vzw-regulatory/receipts/nypsc-2026-rel-000913.json
        trace_id:
          type: string
          format: uuid
          example: c8dd1f15-f9ba-4d36-b3af-ae04c687791f
      required:
        - audit_id
        - report_id
        - filing_status
        - regulator_endpoint
        - signature_status
        - compliance_score
        - event_type
        - event_timestamp
        - actor
        - trace_id
    FilingAuditListResponse:
      type: object
      description: Paginated collection of filing audit records
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FilingAuditRecord'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
      required:
        - data
        - pagination
    PaginationMeta:
      type: object
      description: Pagination metadata for list responses
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        page_size:
          type: integer
          minimum: 1
          maximum: 100
          example: 25
        total_records:
          type: integer
          minimum: 0
          example: 347
        total_pages:
          type: integer
          minimum: 0
          example: 14
      required:
        - page
        - page_size
        - total_records
        - total_pages
    ErrorDetail:
      type: object
      description: Field-level validation issue details
      properties:
        field:
          type: string
          description: Request field containing an issue
          example: saidi_minutes
        reason:
          type: string
          description: Human-readable reason for validation failure
          example: Must be greater than or equal to zero.
      required:
        - field
        - reason
    Error:
      type: object
      description: Standard error envelope
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: VALIDATION_ERROR
            message:
              type: string
              description: Human-readable error summary
              example: The request body contains invalid fields.
            details:
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetail'
            request_id:
              type: string
              description: Request correlation identifier
              example: req-a1b2c3d4-e5f6-7890-abcd-ef1234567890
          required:
            - code
            - message
            - request_id
      required:
        - error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token from Verizon enterprise identity provider
  responses:
    '400':
      description: Bad Request — The request was malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: VALIDATION_ERROR
              message: The request body contains invalid fields.
              details:
                - field: saidi_minutes
                  reason: Must be greater than or equal to zero.
              request_id: req-a1b2c3d4-e5f6-7890-abcd-ef1234567890
    '401':
      description: Unauthorized — Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or expired authentication token.
              request_id: req-b2c3d4e5-f6a7-8901-bcde-f12345678901
    '403':
      description: Forbidden — You do not have permission to access this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: FORBIDDEN
              message: You do not have the required permissions for this action.
              request_id: req-c3d4e5f6-a7b8-9012-cdef-123456789012
    '404':
      description: Not Found — The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: NOT_FOUND
              message: Report not found for provided reportId.
              request_id: req-d4e5f6a7-b8c9-0123-defa-234567890123
    '409':
      description: Conflict — The request conflicts with the current state of the resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: CONFLICT
              message: Report is already submitted and cannot be resubmitted.
              request_id: req-a1b2c3d4-e5f6-0123-abcd-ef1234560000
    '422':
      description: Unprocessable Entity — The request was well-formed but contains semantic errors.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNPROCESSABLE_ENTITY
              message: signature_status must be SIGNED before submission.
              details:
                - field: signature_status
                  reason: Current status is PENDING_SIGNATURE.
              request_id: req-b2c3d4e5-f6a7-0123-bcde-f12345670000
    '429':
      description: Too Many Requests — Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: RATE_LIMIT_EXCEEDED
              message: You have exceeded the rate limit. Please retry after 30 seconds.
              request_id: req-e5f6a7b8-c9d0-1234-efab-345678901234
    '500':
      description: Internal Server Error — An unexpected error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: INTERNAL_ERROR
              message: An unexpected error occurred. Please try again later.
              request_id: req-f6a7b8c9-d0e1-2345-fabc-456789012345
