openapi: 3.0.3
info:
  title: Verizon Grid Asset Registry API
  description: >-
    Maintains the authoritative registry for physical and logical utility grid assets used by Verizon Grid
    Intelligence workloads. The API supports asset onboarding, lifecycle updates, tag annotation, and
    topology traversal across substations, feeders, relays, and smart meters. Registry records include
    operational state, utility region, criticality tier, and geospatial metadata required for planning,
    outage triage, and orchestration use cases.
  version: 1.0.0
  contact:
    name: Verizon Grid Platform API Team
    email: grid-api-support@verizon.com
    url: https://developer.verizon.com/grid
  license:
    name: Proprietary
    url: https://www.verizon.com/business/terms/
  x-verizon-catalog-id: vzw-grid-asset-registry-api
  x-verizon-domain: grid
servers:
  - url: https://vzw-grid-asset-registry-api.api.verizon.com/v1
    description: Production
  - url: https://vzw-grid-asset-registry-api.staging.api.verizon.com/v1
    description: Staging
security:
  - BearerAuth: []
tags:
  - name: Assets
    description: CRUD and query endpoints for utility assets
  - name: Topology
    description: Asset relationship traversal and connectivity metadata
  - name: Tags
    description: Domain tags for search, routing, and policy overlays
paths:
  /v1/assets:
    post:
      operationId: createAsset
      summary: Register a new utility asset
      description: >-
        Creates a registry record for a utility asset. The asset id is generated server-side and remains immutable.
        Use this endpoint to onboard substations, feeders, smart meters, and relays before telemetry or control
        integrations are activated.
      tags:
        - Assets
      requestBody:
        required: true
        description: Asset registration payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
            examples:
              create_substation:
                summary: Register a distribution substation
                value:
                  external_asset_ref: utility-south-ss-1001
                  asset_name: South Valley Substation
                  asset_type: substation
                  utility_region: US-SE-GA-ATL
                  criticality_tier: tier_1
                  operational_state: active
                  commissioning_date: "2023-04-19"
                  owner_organization: Verizon Utility Operations
                  location:
                    latitude: 33.749215
                    longitude: -84.388104
                    timezone: America/New_York
                    address_line_1: 12 Grid Loop
                    city: Atlanta
                    state_province: GA
                    postal_code: "30303"
                    country_code: US
                  rated_capacity:
                    value: 125.0
                    unit: MVA
                  tags:
                    - distribution
                    - priority-restoration
      responses:
        "201":
          description: Resource created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetEnvelope"
              examples:
                created:
                  summary: Registered asset
                  value:
                    data:
                      asset_id: ast_7f31d2ab0c6d4d59a87f6de9001577a1
                      external_asset_ref: utility-south-ss-1001
                      asset_name: South Valley Substation
                      asset_type: substation
                      utility_region: US-SE-GA-ATL
                      criticality_tier: tier_1
                      operational_state: active
                      lifecycle_status: commissioned
                      commissioning_date: "2023-04-19"
                      owner_organization: Verizon Utility Operations
                      location:
                        latitude: 33.749215
                        longitude: -84.388104
                        timezone: America/New_York
                        address_line_1: 12 Grid Loop
                        city: Atlanta
                        state_province: GA
                        postal_code: "30303"
                        country_code: US
                      rated_capacity:
                        value: 125.0
                        unit: MVA
                      tags:
                        - distribution
                        - priority-restoration
                      audit:
                        created_at: "2026-03-27T14:17:34Z"
                        updated_at: "2026-03-27T14:17:34Z"
                        created_by: svc-grid-registry
                        updated_by: svc-grid-registry
                    trace_id: 3dfb4f22-805f-4ac0-92ec-3a13057288ce
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "409":
          $ref: "#/components/responses/409"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
    get:
      operationId: listAssets
      summary: List registered utility assets
      description: >-
        Returns a paginated list of assets with optional filtering by asset type, utility region, criticality tier,
        and operational state. Results are sorted by latest update time descending unless overridden.
      tags:
        - Assets
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/asset_type"
        - $ref: "#/components/parameters/utility_region"
        - $ref: "#/components/parameters/criticality_tier"
        - $ref: "#/components/parameters/operational_state"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetListEnvelope"
              examples:
                first_page:
                  summary: First page of mixed utility assets
                  value:
                    data:
                      - asset_id: ast_7f31d2ab0c6d4d59a87f6de9001577a1
                        external_asset_ref: utility-south-ss-1001
                        asset_name: South Valley Substation
                        asset_type: substation
                        utility_region: US-SE-GA-ATL
                        criticality_tier: tier_1
                        operational_state: active
                        lifecycle_status: commissioned
                        commissioning_date: "2023-04-19"
                        owner_organization: Verizon Utility Operations
                        location:
                          latitude: 33.749215
                          longitude: -84.388104
                          timezone: America/New_York
                          address_line_1: 12 Grid Loop
                          city: Atlanta
                          state_province: GA
                          postal_code: "30303"
                          country_code: US
                        rated_capacity:
                          value: 125.0
                          unit: MVA
                        tags:
                          - distribution
                          - priority-restoration
                        audit:
                          created_at: "2026-03-27T14:17:34Z"
                          updated_at: "2026-03-27T14:17:34Z"
                          created_by: svc-grid-registry
                          updated_by: svc-grid-registry
                      - asset_id: ast_21eebfed60224cbca35d4e07f6abf9c7
                        external_asset_ref: utility-south-fed-710
                        asset_name: Feeder 710
                        asset_type: feeder
                        utility_region: US-SE-GA-ATL
                        criticality_tier: tier_2
                        operational_state: maintenance
                        lifecycle_status: commissioned
                        commissioning_date: "2024-01-11"
                        owner_organization: Verizon Utility Operations
                        location:
                          latitude: 33.75217
                          longitude: -84.38695
                          timezone: America/New_York
                          address_line_1: 44 Transfer Rd
                          city: Atlanta
                          state_province: GA
                          postal_code: "30308"
                          country_code: US
                        rated_capacity:
                          value: 14.0
                          unit: KV
                        tags:
                          - underground
                        audit:
                          created_at: "2026-03-10T06:11:03Z"
                          updated_at: "2026-03-24T12:01:59Z"
                          created_by: svc-grid-registry
                          updated_by: user_gridops_1882
                    pagination:
                      page: 1
                      per_page: 20
                      total_items: 294
                      total_pages: 15
                    trace_id: 76f4679a-fb01-4d69-b02a-493bdba44fef
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/assets/{assetId}:
    get:
      operationId: getAsset
      summary: Get a utility asset by id
      description: >-
        Retrieves a single asset record, including geospatial location, lifecycle status, and compliance metadata.
        Returns 404 when the identifier is unknown or no longer retained.
      tags:
        - Assets
      parameters:
        - $ref: "#/components/parameters/asset_id"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetEnvelope"
              examples:
                meter:
                  summary: Smart meter record
                  value:
                    data:
                      asset_id: ast_9df63b49ed2f4f9393e7a2f2f5a88e66
                      external_asset_ref: utility-east-meter-88311421
                      asset_name: Meter 88311421
                      asset_type: meter
                      utility_region: US-NE-NJ-NEWARK
                      criticality_tier: tier_3
                      operational_state: active
                      lifecycle_status: commissioned
                      commissioning_date: "2025-05-04"
                      owner_organization: Verizon Utility Operations
                      location:
                        latitude: 40.735657
                        longitude: -74.172367
                        timezone: America/New_York
                        address_line_1: 951 Lincoln Ave
                        city: Newark
                        state_province: NJ
                        postal_code: "07103"
                        country_code: US
                      rated_capacity:
                        value: 200.0
                        unit: AMP
                      tags:
                        - ami
                        - customer-edge
                        - interval-data
                      audit:
                        created_at: "2026-02-13T18:29:03Z"
                        updated_at: "2026-03-27T02:14:11Z"
                        created_by: svc-grid-registry
                        updated_by: svc-topology-sync
                    trace_id: f4ce2eb3-e639-44cb-9550-c4910084ffdc
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
    patch:
      operationId: updateAsset
      summary: Update mutable fields on a utility asset
      description: >-
        Applies a partial update to an existing asset. Immutable keys such as asset_id, asset_type, and
        external_asset_ref cannot be changed. This operation is idempotent when the same payload is replayed.
      tags:
        - Assets
      parameters:
        - $ref: "#/components/parameters/asset_id"
      requestBody:
        required: true
        description: Partial asset update payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAssetRequest"
            examples:
              state_change:
                summary: Move a feeder into maintenance
                value:
                  operational_state: maintenance
                  maintenance_window:
                    start_at: "2026-03-30T01:00:00Z"
                    end_at: "2026-03-30T06:00:00Z"
                    reason: Scheduled relay recalibration
                  tags:
                    add:
                      - planned-outage
                    remove:
                      - auto-dispatch-eligible
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetEnvelope"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "409":
          $ref: "#/components/responses/409"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/assets/{assetId}/topology:
    get:
      operationId: getAssetTopology
      summary: Retrieve upstream and downstream topology for an asset
      description: >-
        Returns a constrained topology view centered on the requested asset. The graph includes immediate and
        multi-hop relationships for upstream supply paths and downstream dependent assets.
      tags:
        - Topology
      parameters:
        - $ref: "#/components/parameters/asset_id"
        - $ref: "#/components/parameters/topology_depth"
        - $ref: "#/components/parameters/topology_direction"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetTopologyEnvelope"
              examples:
                feeder_topology:
                  summary: Feeder-centric topology
                  value:
                    data:
                      root_asset_id: ast_21eebfed60224cbca35d4e07f6abf9c7
                      depth: 2
                      direction: bidirectional
                      nodes:
                        - asset_id: ast_7f31d2ab0c6d4d59a87f6de9001577a1
                          asset_type: substation
                          asset_name: South Valley Substation
                          utility_region: US-SE-GA-ATL
                          operational_state: active
                        - asset_id: ast_21eebfed60224cbca35d4e07f6abf9c7
                          asset_type: feeder
                          asset_name: Feeder 710
                          utility_region: US-SE-GA-ATL
                          operational_state: maintenance
                        - asset_id: ast_154fdbad5e82467fbd6f8a7353bf5c50
                          asset_type: relay
                          asset_name: Relay 710A
                          utility_region: US-SE-GA-ATL
                          operational_state: active
                        - asset_id: ast_67f5c4de4ad049ae94696f7f7f8ebffc
                          asset_type: meter
                          asset_name: Meter 44912003
                          utility_region: US-SE-GA-ATL
                          operational_state: active
                      edges:
                        - edge_id: edge_001
                          from_asset_id: ast_7f31d2ab0c6d4d59a87f6de9001577a1
                          to_asset_id: ast_21eebfed60224cbca35d4e07f6abf9c7
                          relation_type: supplies
                          is_normally_open: false
                        - edge_id: edge_002
                          from_asset_id: ast_21eebfed60224cbca35d4e07f6abf9c7
                          to_asset_id: ast_154fdbad5e82467fbd6f8a7353bf5c50
                          relation_type: protects
                          is_normally_open: false
                        - edge_id: edge_003
                          from_asset_id: ast_154fdbad5e82467fbd6f8a7353bf5c50
                          to_asset_id: ast_67f5c4de4ad049ae94696f7f7f8ebffc
                          relation_type: serves
                          is_normally_open: false
                    trace_id: a5a4cb69-8de7-4060-9654-40609e7e2149
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
  /v1/assets/{assetId}/tags:
    post:
      operationId: appendAssetTags
      summary: Add tags to a utility asset
      description: >-
        Appends one or more tags to an asset without removing existing tags. Duplicate tags are ignored and returned
        in the skipped list so callers can enforce deterministic workflows.
      tags:
        - Tags
      parameters:
        - $ref: "#/components/parameters/asset_id"
      requestBody:
        required: true
        description: Tags to append to the asset record
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddAssetTagsRequest"
            examples:
              tag_append:
                summary: Add operational tags
                value:
                  tags:
                    - wildfire-monitoring
                    - contingency-plan-b
                    - auto-dispatch-eligible
      responses:
        "201":
          description: Resource created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddAssetTagsResponseEnvelope"
              examples:
                updated_tags:
                  value:
                    data:
                      asset_id: ast_21eebfed60224cbca35d4e07f6abf9c7
                      added_tags:
                        - wildfire-monitoring
                        - contingency-plan-b
                      skipped_tags:
                        - auto-dispatch-eligible
                      tags:
                        - underground
                        - auto-dispatch-eligible
                        - wildfire-monitoring
                        - contingency-plan-b
                      updated_at: "2026-03-27T15:22:44Z"
                    trace_id: 2f5ea78d-f5f9-4f3a-a51f-c167f35f071a
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "409":
          $ref: "#/components/responses/409"
        "422":
          $ref: "#/components/responses/422"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
components:
  schemas:
    AssetType:
      type: string
      description: Canonical type of utility asset
      enum:
        - substation
        - feeder
        - meter
        - relay
    CriticalityTier:
      type: string
      description: Service criticality for restoration and protection workflows
      enum:
        - tier_1
        - tier_2
        - tier_3
        - tier_4
    OperationalState:
      type: string
      description: Current operating state for the asset
      enum:
        - active
        - maintenance
        - degraded
        - retired
        - decommissioned
    LifecycleStatus:
      type: string
      description: Provisioning and lifecycle position for the asset record
      enum:
        - planned
        - commissioned
        - suspended
        - retired
    CapacityMetric:
      type: object
      description: Numeric capacity value and unit pair
      properties:
        value:
          type: number
          format: double
          description: Capacity measurement value
          example: 125.0
        unit:
          type: string
          description: Engineering unit for capacity value
          example: MVA
      required:
        - value
        - unit
    AssetLocation:
      type: object
      description: Geographic and postal location metadata
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
          description: WGS84 latitude
          example: 33.749215
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
          description: WGS84 longitude
          example: -84.388104
        timezone:
          type: string
          description: IANA timezone identifier
          example: America/New_York
        address_line_1:
          type: string
          description: Primary street address line
          example: 12 Grid Loop
        address_line_2:
          type: string
          description: Secondary address line
          example: Building C
        city:
          type: string
          description: Municipality
          example: Atlanta
        state_province:
          type: string
          description: State or province code
          example: GA
        postal_code:
          type: string
          description: Postal code
          example: "30303"
        country_code:
          type: string
          minLength: 2
          maxLength: 2
          description: ISO 3166-1 alpha-2 country code
          example: US
      required:
        - latitude
        - longitude
        - timezone
        - address_line_1
        - city
        - state_province
        - postal_code
        - country_code
    AssetAudit:
      type: object
      description: Audit trail metadata for the asset record
      properties:
        created_at:
          type: string
          format: date-time
          description: Timestamp when the record was created
          example: "2026-03-27T14:17:34Z"
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the record was last updated
          example: "2026-03-27T14:17:34Z"
        created_by:
          type: string
          description: Principal that created the record
          example: svc-grid-registry
        updated_by:
          type: string
          description: Principal that last updated the record
          example: svc-grid-registry
      required:
        - created_at
        - updated_at
        - created_by
        - updated_by
    Asset:
      type: object
      description: Registry representation of a utility asset
      properties:
        asset_id:
          type: string
          description: Immutable registry identifier
          example: ast_7f31d2ab0c6d4d59a87f6de9001577a1
        external_asset_ref:
          type: string
          description: Identifier from the source utility system
          example: utility-south-ss-1001
        asset_name:
          type: string
          description: Display name for operations and analytics
          example: South Valley Substation
        asset_type:
          $ref: "#/components/schemas/AssetType"
        utility_region:
          type: string
          description: Utility region code used for segmentation and routing
          example: US-SE-GA-ATL
        criticality_tier:
          $ref: "#/components/schemas/CriticalityTier"
        operational_state:
          $ref: "#/components/schemas/OperationalState"
        lifecycle_status:
          $ref: "#/components/schemas/LifecycleStatus"
        commissioning_date:
          type: string
          format: date
          description: Date the asset entered service
          example: "2023-04-19"
        owner_organization:
          type: string
          description: Owning organization within utility operations
          example: Verizon Utility Operations
        location:
          $ref: "#/components/schemas/AssetLocation"
        rated_capacity:
          $ref: "#/components/schemas/CapacityMetric"
        maintenance_window:
          $ref: "#/components/schemas/MaintenanceWindow"
        tags:
          type: array
          description: Domain tags assigned to this asset
          items:
            type: string
          example:
            - distribution
            - priority-restoration
        audit:
          $ref: "#/components/schemas/AssetAudit"
      required:
        - asset_id
        - external_asset_ref
        - asset_name
        - asset_type
        - utility_region
        - criticality_tier
        - operational_state
        - lifecycle_status
        - commissioning_date
        - owner_organization
        - location
        - rated_capacity
        - tags
        - audit
    MaintenanceWindow:
      type: object
      description: Scheduled maintenance interval metadata
      properties:
        start_at:
          type: string
          format: date-time
          description: Maintenance window start time
          example: "2026-03-30T01:00:00Z"
        end_at:
          type: string
          format: date-time
          description: Maintenance window end time
          example: "2026-03-30T06:00:00Z"
        reason:
          type: string
          description: Business reason for scheduled maintenance
          example: Scheduled relay recalibration
      required:
        - start_at
        - end_at
        - reason
    CreateAssetRequest:
      type: object
      description: Request payload for creating a new asset
      properties:
        external_asset_ref:
          type: string
          description: Unique identifier from the source utility platform
          example: utility-south-ss-1001
        asset_name:
          type: string
          minLength: 3
          maxLength: 160
          description: Human-readable asset name
          example: South Valley Substation
        asset_type:
          $ref: "#/components/schemas/AssetType"
        utility_region:
          type: string
          minLength: 5
          maxLength: 64
          description: Utility region code
          example: US-SE-GA-ATL
        criticality_tier:
          $ref: "#/components/schemas/CriticalityTier"
        operational_state:
          $ref: "#/components/schemas/OperationalState"
        commissioning_date:
          type: string
          format: date
          description: In-service date
          example: "2023-04-19"
        owner_organization:
          type: string
          description: Owning operating organization
          example: Verizon Utility Operations
        location:
          $ref: "#/components/schemas/AssetLocation"
        rated_capacity:
          $ref: "#/components/schemas/CapacityMetric"
        tags:
          type: array
          description: Initial tags to attach during creation
          items:
            type: string
            minLength: 2
            maxLength: 64
      required:
        - external_asset_ref
        - asset_name
        - asset_type
        - utility_region
        - criticality_tier
        - operational_state
        - commissioning_date
        - owner_organization
        - location
        - rated_capacity
    AssetTagPatch:
      type: object
      description: Add and remove mutations for asset tags
      properties:
        add:
          type: array
          items:
            type: string
            minLength: 2
            maxLength: 64
          description: Tags to append
        remove:
          type: array
          items:
            type: string
            minLength: 2
            maxLength: 64
          description: Tags to remove
    UpdateAssetRequest:
      type: object
      description: Mutable fields for partial asset updates
      minProperties: 1
      properties:
        asset_name:
          type: string
          minLength: 3
          maxLength: 160
          description: Updated display name
        criticality_tier:
          $ref: "#/components/schemas/CriticalityTier"
        operational_state:
          $ref: "#/components/schemas/OperationalState"
        lifecycle_status:
          $ref: "#/components/schemas/LifecycleStatus"
        owner_organization:
          type: string
          description: Updated owner organization
        location:
          $ref: "#/components/schemas/AssetLocation"
        rated_capacity:
          $ref: "#/components/schemas/CapacityMetric"
        maintenance_window:
          $ref: "#/components/schemas/MaintenanceWindow"
        tags:
          $ref: "#/components/schemas/AssetTagPatch"
    EnvelopeMeta:
      type: object
      description: Base envelope metadata used for request tracing
      properties:
        trace_id:
          type: string
          format: uuid
          description: Cross-service trace identifier
          example: 3dfb4f22-805f-4ac0-92ec-3a13057288ce
      required:
        - trace_id
    AssetEnvelope:
      type: object
      description: Single asset response envelope
      properties:
        data:
          $ref: "#/components/schemas/Asset"
        trace_id:
          type: string
          format: uuid
      required:
        - data
        - trace_id
    PaginationMeta:
      type: object
      description: Pagination details for list responses
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page index
          example: 1
        per_page:
          type: integer
          minimum: 1
          maximum: 200
          description: Number of records per page
          example: 20
        total_items:
          type: integer
          minimum: 0
          description: Total number of records matching the filter
          example: 294
        total_pages:
          type: integer
          minimum: 0
          description: Number of pages available
          example: 15
      required:
        - page
        - per_page
        - total_items
        - total_pages
    AssetListEnvelope:
      type: object
      description: Paginated list of assets
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Asset"
        pagination:
          $ref: "#/components/schemas/PaginationMeta"
        trace_id:
          type: string
          format: uuid
      required:
        - data
        - pagination
        - trace_id
    TopologyDirection:
      type: string
      description: Direction to traverse from the root asset
      enum:
        - upstream
        - downstream
        - bidirectional
    TopologyNode:
      type: object
      description: Node in the asset topology graph
      properties:
        asset_id:
          type: string
          description: Asset identifier
          example: ast_21eebfed60224cbca35d4e07f6abf9c7
        asset_type:
          $ref: "#/components/schemas/AssetType"
        asset_name:
          type: string
          description: Asset display name
          example: Feeder 710
        utility_region:
          type: string
          description: Utility region code
          example: US-SE-GA-ATL
        operational_state:
          $ref: "#/components/schemas/OperationalState"
      required:
        - asset_id
        - asset_type
        - asset_name
        - utility_region
        - operational_state
    TopologyEdge:
      type: object
      description: Directed relationship between topology nodes
      properties:
        edge_id:
          type: string
          description: Edge identifier unique within the response
          example: edge_001
        from_asset_id:
          type: string
          description: Source asset identifier
          example: ast_7f31d2ab0c6d4d59a87f6de9001577a1
        to_asset_id:
          type: string
          description: Destination asset identifier
          example: ast_21eebfed60224cbca35d4e07f6abf9c7
        relation_type:
          type: string
          description: Connectivity relation type
          enum:
            - supplies
            - protects
            - serves
            - monitors
            - controls
          example: supplies
        is_normally_open:
          type: boolean
          description: True when tie-switch edge is normally open
          example: false
      required:
        - edge_id
        - from_asset_id
        - to_asset_id
        - relation_type
        - is_normally_open
    AssetTopology:
      type: object
      description: Topology traversal result around a root asset
      properties:
        root_asset_id:
          type: string
          description: Requested root asset identifier
          example: ast_21eebfed60224cbca35d4e07f6abf9c7
        depth:
          type: integer
          minimum: 1
          maximum: 5
          description: Traversal depth used for this response
          example: 2
        direction:
          $ref: "#/components/schemas/TopologyDirection"
        nodes:
          type: array
          description: Topology nodes
          items:
            $ref: "#/components/schemas/TopologyNode"
        edges:
          type: array
          description: Topology edges
          items:
            $ref: "#/components/schemas/TopologyEdge"
      required:
        - root_asset_id
        - depth
        - direction
        - nodes
        - edges
    AssetTopologyEnvelope:
      type: object
      description: Response envelope for topology traversal
      properties:
        data:
          $ref: "#/components/schemas/AssetTopology"
        trace_id:
          type: string
          format: uuid
      required:
        - data
        - trace_id
    AddAssetTagsRequest:
      type: object
      description: Request payload for appending asset tags
      properties:
        tags:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: string
            minLength: 2
            maxLength: 64
          description: Tags to append
      required:
        - tags
    AddAssetTagsResult:
      type: object
      description: Result payload for asset tag append operations
      properties:
        asset_id:
          type: string
          description: Asset identifier
          example: ast_21eebfed60224cbca35d4e07f6abf9c7
        added_tags:
          type: array
          items:
            type: string
          description: Tags that were newly added
        skipped_tags:
          type: array
          items:
            type: string
          description: Requested tags that already existed
        tags:
          type: array
          items:
            type: string
          description: Complete tags set after update
        updated_at:
          type: string
          format: date-time
          description: Timestamp when tags were updated
          example: "2026-03-27T15:22:44Z"
      required:
        - asset_id
        - added_tags
        - skipped_tags
        - tags
        - updated_at
    AddAssetTagsResponseEnvelope:
      type: object
      description: Response envelope for asset tag append requests
      properties:
        data:
          $ref: "#/components/schemas/AddAssetTagsResult"
        trace_id:
          type: string
          format: uuid
      required:
        - data
        - trace_id
    ErrorDetail:
      type: object
      description: Field-level error information
      properties:
        field:
          type: string
          description: Request field that failed validation
          example: utility_region
        reason:
          type: string
          description: Explanation of the validation issue
          example: Must follow REGION format COUNTRY-AREA-STATE-CITY
      required:
        - field
        - reason
    ErrorBody:
      type: object
      description: Structured error payload
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: VALIDATION_ERROR
        message:
          type: string
          description: Human-readable description of the error
          example: The request body contains invalid fields.
        details:
          type: array
          items:
            $ref: "#/components/schemas/ErrorDetail"
        request_id:
          type: string
          format: uuid
          description: Request identifier for support diagnostics
          example: 430347ea-4ec2-4bf5-b745-cf5410db369c
      required:
        - code
        - message
        - request_id
    ErrorEnvelope:
      type: object
      description: Standard error response wrapper
      properties:
        error:
          $ref: "#/components/schemas/ErrorBody"
      required:
        - error
  parameters:
    asset_id:
      name: assetId
      in: path
      required: true
      description: Registry asset identifier
      schema:
        type: string
        minLength: 8
        maxLength: 64
      example: ast_7f31d2ab0c6d4d59a87f6de9001577a1
    page:
      name: page
      in: query
      description: Current page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    per_page:
      name: per_page
      in: query
      description: Number of records per page
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    asset_type:
      name: asset_type
      in: query
      description: Filter records by asset type
      schema:
        $ref: "#/components/schemas/AssetType"
    utility_region:
      name: utility_region
      in: query
      description: Filter records by utility region code
      schema:
        type: string
        minLength: 5
        maxLength: 64
    criticality_tier:
      name: criticality_tier
      in: query
      description: Filter records by criticality tier
      schema:
        $ref: "#/components/schemas/CriticalityTier"
    operational_state:
      name: operational_state
      in: query
      description: Filter records by operational state
      schema:
        $ref: "#/components/schemas/OperationalState"
    search:
      name: search
      in: query
      description: Free text search on asset name and external references
      schema:
        type: string
        minLength: 2
        maxLength: 120
    sort:
      name: sort
      in: query
      description: Sort order for list requests
      schema:
        type: string
        enum:
          - updated_at:desc
          - updated_at:asc
          - asset_name:asc
          - asset_name:desc
        default: updated_at:desc
    topology_depth:
      name: depth
      in: query
      description: Number of relationship hops to include in topology traversal
      schema:
        type: integer
        minimum: 1
        maximum: 5
        default: 2
    topology_direction:
      name: direction
      in: query
      description: Traversal direction from the root asset
      schema:
        $ref: "#/components/schemas/TopologyDirection"
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token issued by Verizon Identity Platform
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for service-to-service traffic
  responses:
    "400":
      description: Bad Request - The request was malformed or has invalid parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: VALIDATION_ERROR
              message: The request body contains invalid fields.
              details:
                - field: utility_region
                  reason: Must follow REGION format COUNTRY-AREA-STATE-CITY
              request_id: 430347ea-4ec2-4bf5-b745-cf5410db369c
    "401":
      description: Unauthorized - Authentication credentials are missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or expired authentication token.
              request_id: 50f7d7d7-8d46-4af6-b7d7-42ef2e252711
    "403":
      description: Forbidden - The caller is authenticated but lacks required permissions.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: FORBIDDEN
              message: You do not have permission to perform this action.
              request_id: d98ea839-6a08-4adf-8822-876f3f951f02
    "404":
      description: Not Found - The requested asset or related resource does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: NOT_FOUND
              message: The requested asset was not found.
              request_id: 968847a6-f7f7-48ce-a697-d799cf7f9ac9
    "409":
      description: Conflict - The request conflicts with current resource state.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: CONFLICT
              message: The asset has been modified by another request.
              request_id: 44aafec4-95a2-4571-9f9e-c95cb3aa847b
    "422":
      description: Unprocessable Entity - Request passes syntax checks but violates business rules.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: UNPROCESSABLE_ENTITY
              message: The requested state transition is not allowed for this asset type.
              details:
                - field: operational_state
                  reason: Cannot transition from decommissioned to active
              request_id: 07744d53-53d8-4d80-a15d-31bc5ec258e2
    "429":
      description: Too Many Requests - Client exceeded permitted request rate.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Request rate exceeded. Retry after 30 seconds.
              request_id: 4eb8f86f-a674-4cca-bca1-b7f6d6e5e81c
    "500":
      description: Internal Server Error - An unexpected server-side condition occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            error:
              code: INTERNAL_ERROR
              message: An unexpected error occurred. Please try again later.
              request_id: f4f2ab87-7993-4a66-8477-6d46487f91fe
