openapi: 3.0.3
info:
  title: VZW Webhook Delivery API
  description: >-
    Provides reliable outbound webhook fanout for internal Verizon domain events.
    The service manages subscriber endpoints, signs payloads with HMAC, applies
    exponential retry policies, and routes terminal failures to a dead-letter queue
    for operational replay and investigation.
  version: 1.0.0
  contact:
    name: Verizon Webhooks Platform Team
    email: webhooks-api-support@verizon.com
    url: https://developer.verizon.com
  license:
    name: Proprietary
    url: https://www.verizon.com/business/terms
  x-verizon-catalog-id: vzw-webhook-delivery-api
  x-verizon-domain: webhooks
servers:
  - url: https://vzw-webhook-delivery-api.api.verizon.com/v1
    description: Production
  - url: https://vzw-webhook-delivery-api.staging.api.verizon.com/v1
    description: Staging
security:
  - BearerAuth: []
tags:
  - name: Subscriptions
    description: Manage webhook endpoint registrations and delivery behavior.
  - name: Events
    description: Publish domain events to matching webhook subscriptions.
  - name: Deliveries
    description: Inspect delivery attempts and replay terminal failures.
paths:
  /v1/subscriptions:
    post:
      operationId: createSubscription
      summary: Create webhook subscription
      description: >-
        Registers a webhook destination for one or more event types. Secrets are
        write-only and used to generate HMAC signatures on every outbound
        request. Delivery retry behavior is controlled through `retry_policy`.
      tags:
        - Subscriptions
      requestBody:
        required: true
        description: Subscription creation payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
            example:
              tenant_id: tenant-noc-east
              name: NOC Alert Listener
              endpoint_url: https://partner.example.com/verizon/webhooks
              event_types:
                - network.alert.created
                - edge.device.offline
              hmac_secret: whsec_live_4jz3s8v2Qm90nY5b
              signature_header: X-VZW-Signature
              retry_policy:
                strategy: exponential_backoff
                max_attempts: 8
                initial_backoff_seconds: 5
                max_backoff_seconds: 300
                jitter_mode: full
              active: true
      responses:
        '201':
          description: Subscription created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    get:
      operationId: listSubscriptions
      summary: List webhook subscriptions
      description: >-
        Returns subscriptions for a tenant in reverse creation order. Supports
        cursor-based pagination and filtering by active status and event type.
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/TenantIdQuery'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: active
          in: query
          required: false
          description: Filter by active/inactive subscriptions.
          schema:
            type: boolean
        - name: event_type
          in: query
          required: false
          description: Return only subscriptions configured for this event type.
          schema:
            type: string
            example: network.alert.created
      responses:
        '200':
          description: Paginated subscription list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /v1/subscriptions/{subscriptionId}:
    patch:
      operationId: updateSubscription
      summary: Update webhook subscription
      description: >-
        Partially updates mutable subscription fields. Rotating `hmac_secret`
        invalidates the previous secret immediately; use coordinated rollout when
        endpoint infrastructure caches signature keys.
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdPath'
      requestBody:
        required: true
        description: Partial subscription update payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
            example:
              endpoint_url: https://partner.example.com/verizon/webhooks-v2
              retry_policy:
                strategy: exponential_backoff
                max_attempts: 10
                initial_backoff_seconds: 3
                max_backoff_seconds: 180
                jitter_mode: equal
              active: true
      responses:
        '200':
          description: Updated subscription resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      operationId: deleteSubscription
      summary: Delete webhook subscription
      description: >-
        Permanently deletes a webhook subscription. Pending deliveries that have
        already been enqueued are still attempted, but no new event fanout will
        be created after deletion timestamp.
      tags:
        - Subscriptions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdPath'
      responses:
        '204':
          description: Subscription deleted successfully.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /v1/events/publish:
    post:
      operationId: publishEvent
      summary: Publish event for webhook fanout
      description: >-
        Publishes a domain event to all active subscriptions that match
        `event_type`. Event fanout is asynchronous; use returned `event_id` to
        trace delivery lifecycle through observability tooling.
      tags:
        - Events
      requestBody:
        required: true
        description: Event envelope and payload for fanout.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishEventRequest'
            examples:
              networkAlert:
                summary: Network alert event payload
                value:
                  tenant_id: tenant-noc-east
                  event_type: network.alert.created
                  source: network-ops
                  event_timestamp: '2026-03-27T14:05:43Z'
                  correlation_id: 5e39b838-95f1-431a-a3c0-a834c7bb7e32
                  payload:
                    alert_id: alt-924001
                    severity: critical
                    region: us-east-1
                    message: Primary fiber link down
      responses:
        '202':
          description: Event accepted for asynchronous fanout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishEventAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /v1/deliveries:
    get:
      operationId: listDeliveries
      summary: List webhook deliveries
      description: >-
        Returns delivery attempts across subscriptions for incident triage and
        reliability analysis. Includes HTTP response details, delivery status,
        and dead-letter metadata when applicable.
      tags:
        - Deliveries
      parameters:
        - $ref: '#/components/parameters/TenantIdQuery'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: subscription_id
          in: query
          required: false
          description: Filter by subscription identifier.
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          required: false
          description: Filter by event type.
          schema:
            type: string
        - name: delivery_status
          in: query
          required: false
          description: Filter by current delivery status.
          schema:
            $ref: '#/components/schemas/DeliveryStatus'
        - name: from
          in: query
          required: false
          description: Inclusive lower bound for first attempt timestamp.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Inclusive upper bound for first attempt timestamp.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Paginated delivery records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryListResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /v1/deliveries/{deliveryId}:replay:
    post:
      operationId: replayDelivery
      summary: Replay delivery from dead-letter queue
      description: >-
        Re-queues a failed or dead-lettered delivery for immediate retry. Replay
        can target the original endpoint or an override endpoint for controlled
        remediation testing.
      tags:
        - Deliveries
      parameters:
        - $ref: '#/components/parameters/DeliveryIdPath'
      requestBody:
        required: true
        description: Replay controls for one delivery item.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplayDeliveryRequest'
            example:
              reason: Partner endpoint recovered after maintenance window
              endpoint_override_url: https://partner.example.com/verizon/webhooks
              preserve_original_headers: true
      responses:
        '202':
          description: Replay accepted for asynchronous processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplayDeliveryAcceptedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

components:
  parameters:
    SubscriptionIdPath:
      name: subscriptionId
      in: path
      required: true
      description: Unique subscription identifier.
      schema:
        type: string
        format: uuid
        example: a31551b2-af0f-49d3-a0cb-06f5ccbb3f65
    DeliveryIdPath:
      name: deliveryId
      in: path
      required: true
      description: Unique delivery identifier.
      schema:
        type: string
        format: uuid
        example: 7f151528-3e6f-4892-8455-a8342f168cb7
    TenantIdQuery:
      name: tenant_id
      in: query
      required: true
      description: Tenant namespace for isolation and authorization checks.
      schema:
        type: string
        minLength: 3
        maxLength: 64
        pattern: '^[a-z0-9][a-z0-9-]{1,62}[a-z0-9]$'
        example: tenant-noc-east
    PageSize:
      name: page_size
      in: query
      required: false
      description: Number of records returned in the current page.
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    PageCursor:
      name: cursor
      in: query
      required: false
      description: Opaque continuation token from prior list response.
      schema:
        type: string
        example: eyJjcmVhdGVkX2F0IjoiMjAyNi0wMy0yN1QxNDozMDo1MloiLCJpZCI6IjEyMyJ9

  schemas:
    CreateSubscriptionRequest:
      type: object
      description: Request payload to register a webhook subscription.
      properties:
        tenant_id:
          $ref: '#/components/schemas/TenantId'
        name:
          type: string
          description: Human-friendly subscription label.
          minLength: 3
          maxLength: 120
          example: NOC Alert Listener
        endpoint_url:
          type: string
          description: HTTPS endpoint invoked for outbound webhook delivery.
          format: uri
          example: https://partner.example.com/verizon/webhooks
        event_types:
          type: array
          description: Events routed to this subscription.
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            $ref: '#/components/schemas/EventType'
        hmac_secret:
          type: string
          description: >-
            Secret key used to generate HMAC SHA-256 signatures. This value is
            write-only and never returned in read responses.
          minLength: 24
          maxLength: 256
          example: whsec_live_4jz3s8v2Qm90nY5b
        signature_header:
          type: string
          description: HTTP header name carrying the HMAC signature.
          minLength: 3
          maxLength: 64
          example: X-VZW-Signature
        retry_policy:
          $ref: '#/components/schemas/RetryPolicy'
        active:
          type: boolean
          description: Whether deliveries are currently enabled.
          default: true
      required:
        - tenant_id
        - name
        - endpoint_url
        - event_types
        - hmac_secret
        - retry_policy

    UpdateSubscriptionRequest:
      type: object
      description: Fields that can be updated for an existing subscription.
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 120
          example: NOC Alert Listener v2
        endpoint_url:
          type: string
          format: uri
          example: https://partner.example.com/verizon/webhooks-v2
        event_types:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            $ref: '#/components/schemas/EventType'
        hmac_secret:
          type: string
          minLength: 24
          maxLength: 256
          example: whsec_rotated_9Nz82Ka74fRx4W00
        signature_header:
          type: string
          minLength: 3
          maxLength: 64
          example: X-VZW-Signature
        retry_policy:
          $ref: '#/components/schemas/RetryPolicy'
        active:
          type: boolean
      additionalProperties: false

    Subscription:
      type: object
      description: Webhook subscription configuration.
      properties:
        subscription_id:
          type: string
          format: uuid
          description: Unique subscription identifier.
          example: a31551b2-af0f-49d3-a0cb-06f5ccbb3f65
        tenant_id:
          $ref: '#/components/schemas/TenantId'
        name:
          type: string
          example: NOC Alert Listener
        endpoint_url:
          type: string
          format: uri
          example: https://partner.example.com/verizon/webhooks
        event_types:
          type: array
          items:
            $ref: '#/components/schemas/EventType'
        signature_header:
          type: string
          description: Header name used for HMAC signature values.
          example: X-VZW-Signature
        retry_policy:
          $ref: '#/components/schemas/RetryPolicy'
        active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-03-27T12:20:10Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-03-27T12:28:40Z'
      required:
        - subscription_id
        - tenant_id
        - name
        - endpoint_url
        - event_types
        - retry_policy
        - active
        - created_at
        - updated_at

    SubscriptionResponse:
      type: object
      description: Wrapper response for single subscription operations.
      properties:
        data:
          $ref: '#/components/schemas/Subscription'
        trace_id:
          $ref: '#/components/schemas/TraceId'
      required:
        - data
        - trace_id

    SubscriptionListResponse:
      type: object
      description: Paginated response for subscription list endpoint.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        page:
          $ref: '#/components/schemas/PageInfo'
        trace_id:
          $ref: '#/components/schemas/TraceId'
      required:
        - data
        - page
        - trace_id

    PublishEventRequest:
      type: object
      description: Event envelope for asynchronous webhook fanout.
      properties:
        tenant_id:
          $ref: '#/components/schemas/TenantId'
        event_type:
          $ref: '#/components/schemas/EventType'
        source:
          type: string
          description: Producer system or bounded context name.
          minLength: 2
          maxLength: 64
          example: network-ops
        event_timestamp:
          type: string
          format: date-time
          description: Source timestamp for the business event.
          example: '2026-03-27T14:05:43Z'
        correlation_id:
          $ref: '#/components/schemas/TraceId'
        payload:
          type: object
          description: JSON payload delivered to subscribed endpoints.
          additionalProperties: true
          example:
            alert_id: alt-924001
            severity: critical
            region: us-east-1
            message: Primary fiber link down
      required:
        - tenant_id
        - event_type
        - source
        - event_timestamp
        - payload

    PublishEventAcceptedResponse:
      type: object
      description: Acknowledgement for accepted publish requests.
      properties:
        event_id:
          type: string
          format: uuid
          description: Identifier for fanout tracking.
          example: 9f0a8d61-66da-4614-9800-917a9fbbd23f
        accepted_at:
          type: string
          format: date-time
          description: Timestamp at which publish request was accepted.
          example: '2026-03-27T14:05:44Z'
        matched_subscriptions:
          type: integer
          description: Number of active subscriptions receiving fanout.
          minimum: 0
          example: 3
        trace_id:
          $ref: '#/components/schemas/TraceId'
      required:
        - event_id
        - accepted_at
        - matched_subscriptions
        - trace_id

    Delivery:
      type: object
      description: Detailed status for one webhook delivery unit.
      properties:
        delivery_id:
          type: string
          format: uuid
          example: 7f151528-3e6f-4892-8455-a8342f168cb7
        event_id:
          type: string
          format: uuid
          example: 9f0a8d61-66da-4614-9800-917a9fbbd23f
        subscription_id:
          type: string
          format: uuid
          example: a31551b2-af0f-49d3-a0cb-06f5ccbb3f65
        tenant_id:
          $ref: '#/components/schemas/TenantId'
        event_type:
          $ref: '#/components/schemas/EventType'
        endpoint_url:
          type: string
          format: uri
          description: Target webhook endpoint for this delivery attempt chain.
          example: https://partner.example.com/verizon/webhooks
        delivery_status:
          $ref: '#/components/schemas/DeliveryStatus'
        attempt_count:
          type: integer
          minimum: 1
          description: Number of attempts made so far.
          example: 6
        max_attempts:
          type: integer
          minimum: 1
          description: Retry cap derived from subscription retry policy.
          example: 8
        first_attempt_at:
          type: string
          format: date-time
          example: '2026-03-27T14:05:45Z'
        last_attempt_at:
          type: string
          format: date-time
          example: '2026-03-27T14:12:00Z'
        next_attempt_at:
          type: string
          format: date-time
          nullable: true
          description: Scheduled timestamp for next retry when status is RETRYING.
          example: '2026-03-27T14:13:00Z'
        response_code:
          type: integer
          nullable: true
          description: Last HTTP status code returned by subscriber endpoint.
          minimum: 100
          maximum: 599
          example: 503
        response_body_excerpt:
          type: string
          nullable: true
          description: Truncated body from the last endpoint response.
          maxLength: 2048
          example: service unavailable
        dlq_reason:
          type: string
          nullable: true
          description: Reason for dead-lettering after terminal failure.
          enum:
            - max_retries_exhausted
            - endpoint_410_gone
            - endpoint_tls_error
            - endpoint_timeout
            - payload_validation_failed
            - permanent_4xx
          example: max_retries_exhausted
      required:
        - delivery_id
        - event_id
        - subscription_id
        - tenant_id
        - event_type
        - endpoint_url
        - delivery_status
        - attempt_count
        - max_attempts
        - first_attempt_at
        - last_attempt_at

    DeliveryListResponse:
      type: object
      description: Paginated response for delivery history.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Delivery'
        page:
          $ref: '#/components/schemas/PageInfo'
        trace_id:
          $ref: '#/components/schemas/TraceId'
      required:
        - data
        - page
        - trace_id

    ReplayDeliveryRequest:
      type: object
      description: Controls for replaying a failed delivery from DLQ.
      properties:
        reason:
          type: string
          description: Operator rationale included in audit trail.
          minLength: 5
          maxLength: 500
          example: Partner endpoint recovered after maintenance window
        endpoint_override_url:
          type: string
          format: uri
          nullable: true
          description: Optional endpoint to override original target during replay.
          example: https://partner.example.com/verizon/webhooks
        preserve_original_headers:
          type: boolean
          description: >-
            Reuse original outbound headers except dynamic timestamp/signature
            values, which are always regenerated.
          default: true
      required:
        - reason

    ReplayDeliveryAcceptedResponse:
      type: object
      description: Acknowledgement for accepted replay requests.
      properties:
        replay_id:
          type: string
          format: uuid
          description: Identifier for replay operation tracking.
          example: b4cbc2b4-266f-4634-9081-823d913fbe0d
        delivery_id:
          type: string
          format: uuid
          example: 7f151528-3e6f-4892-8455-a8342f168cb7
        status:
          type: string
          enum:
            - accepted
            - skipped
          description: Replay acceptance status.
          example: accepted
        accepted_at:
          type: string
          format: date-time
          example: '2026-03-27T14:22:10Z'
        trace_id:
          $ref: '#/components/schemas/TraceId'
      required:
        - replay_id
        - delivery_id
        - status
        - accepted_at
        - trace_id

    RetryPolicy:
      type: object
      description: Delivery retry policy applied to a subscription.
      properties:
        strategy:
          type: string
          description: Retry algorithm used for failed deliveries.
          enum:
            - exponential_backoff
            - fixed_interval
          example: exponential_backoff
        max_attempts:
          type: integer
          description: Total number of attempts including initial try.
          minimum: 1
          maximum: 20
          example: 8
        initial_backoff_seconds:
          type: integer
          description: Delay before first retry.
          minimum: 1
          maximum: 3600
          example: 5
        max_backoff_seconds:
          type: integer
          description: Upper bound for retry delay.
          minimum: 1
          maximum: 86400
          example: 300
        jitter_mode:
          type: string
          description: Randomization mode applied to avoid thundering herd.
          enum:
            - none
            - equal
            - full
          example: full
      required:
        - strategy
        - max_attempts
        - initial_backoff_seconds
        - max_backoff_seconds
        - jitter_mode

    PageInfo:
      type: object
      description: Cursor pagination metadata.
      properties:
        page_size:
          type: integer
          minimum: 1
          maximum: 200
          example: 50
        next_cursor:
          type: string
          nullable: true
          description: Cursor token for subsequent page.
          example: eyJjcmVhdGVkX2F0IjoiMjAyNi0wMy0yN1QxNDozMDo1MloiLCJpZCI6IjEyMyJ9
        has_more:
          type: boolean
          description: Indicates whether more records are available.
          example: true
      required:
        - page_size
        - has_more

    EventType:
      type: string
      description: Event routing key.
      minLength: 3
      maxLength: 128
      pattern: '^[a-z0-9]+(\.[a-z0-9-]+)+$'
      example: network.alert.created

    TenantId:
      type: string
      description: Tenant namespace for data partitioning and access control.
      minLength: 3
      maxLength: 64
      pattern: '^[a-z0-9][a-z0-9-]{1,62}[a-z0-9]$'
      example: tenant-noc-east

    TraceId:
      type: string
      format: uuid
      description: End-to-end trace identifier for request correlation.
      example: 5e39b838-95f1-431a-a3c0-a834c7bb7e32

    DeliveryStatus:
      type: string
      description: Current state for a delivery attempt chain.
      enum:
        - pending
        - delivering
        - retrying
        - delivered
        - failed
        - dead_lettered
      example: retrying

    Error:
      type: object
      description: Standard API error response model.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code.
              example: VALIDATION_ERROR
            message:
              type: string
              description: Human-readable summary of the failure.
              example: The request body contains invalid fields.
            details:
              type: array
              description: Optional field-level diagnostics.
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: Field that triggered validation error.
                    example: endpoint_url
                  reason:
                    type: string
                    description: Validation or business rule violation.
                    example: Must be a valid HTTPS URL
            request_id:
              type: string
              description: Request identifier for support and incident triage.
              example: req-c7049b18-f95d-42d8-bbc1-c0ee2df6c2d4
          required:
            - code
            - message
            - request_id
      required:
        - error

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token issued by Verizon API identity provider.

  responses:
    '400':
      description: Bad Request — malformed request or invalid query parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: VALIDATION_ERROR
              message: The request body contains invalid fields.
              details:
                - field: endpoint_url
                  reason: Must be a valid HTTPS URL
              request_id: req-c7049b18-f95d-42d8-bbc1-c0ee2df6c2d4
    '401':
      description: Unauthorized — missing or invalid authentication credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or expired bearer token.
              request_id: req-7092ef3c-b0d7-4525-a817-4f0c59f6998f
    '403':
      description: Forbidden — authenticated principal lacks required scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: FORBIDDEN
              message: You do not have permission to access this tenant.
              request_id: req-f8238f89-ed6d-4438-a6a5-aefcf6de49b6
    '404':
      description: Not Found — the requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: NOT_FOUND
              message: Delivery record was not found.
              request_id: req-bc11c8a5-fb6f-4f35-b2ca-a73b0905ed56
    '409':
      description: Conflict — request conflicts with current resource state.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: CONFLICT
              message: Subscription already exists for this endpoint and event set.
              request_id: req-7d5fe99b-3787-4e8e-ab66-bf2febb288eb
    '422':
      description: >-
        Unprocessable Entity — syntactically valid request that violates domain
        constraints.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNPROCESSABLE_ENTITY
              message: Replay is only allowed for dead-lettered deliveries.
              request_id: req-a903a4ad-aebe-4f07-9864-0488992d87e0
    '429':
      description: Too Many Requests — caller exceeded configured rate limits.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Retry after 30 seconds.
              request_id: req-c7f70cd0-08bf-4b5a-a1bf-4fd95db930dc
    '500':
      description: Internal Server Error — unexpected server-side failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: INTERNAL_ERROR
              message: An unexpected error occurred. Please try again later.
              request_id: req-6715ed36-553f-4823-b3ee-dfa3a41c1224
